@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin button($background, $text) {
	@include font-size(1.8);

	background-color: $background;
	border: 0;
	color: $text;
	display: inline-block;
	margin-bottom: 0.8rem;
	padding: .526315em .789473em .363157em;
	text-align: center;
	position: relative;
	width:100%;

	&:hover,
	&:focus {
		background-color: darken($background, 5%);
	}
}

@import 'reset';

* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
  background: $bg-body;
}

header#page-header {
  	// Only shown in debug mode
	background: $bg-header;
	color: $text-color-header;
  	display:none;
	padding: 1rem 2rem;
	position: fixed;
  	top: 0;
	width: 100%;

	h1{
		@include font-size(1.4);

		font-family: $font-heading;
		font-weight: bold;
		text-align: center;
	}
}

main {
  	@include font-size(1.6);

	background: $bg-main;
	font-family: $font-copy;
	font-weight: normal;
	padding: $main-side-padding;

	h2 {
		@include font-size(2.0);

		font-family: $font-heading;
		font-weight: bold;
		margin-bottom: 2rem;
	}

	h3,
	#headerDecimal {
		@include font-size(1.6);

		display: block;
		font-family: $font-heading;
		font-weight: bold;
		margin-bottom: 1.6rem;
	}
	  .pre-header{
		  color:$text-color-pre-header;
		  display: block;
		  margin-bottom: 0.5em;
	  }
	p, span, label{
		@include font-size(1.6);

		font-family: $font-copy;
		font-weight: normal;
	}

  	p{
	  	margin-bottom: 1em;
	  }

	input[type="button"].primary {
		@include button($button-bg-primary, $button-text-primary);
		-webkit-appearance: none;
		margin-top: 0.8rem;
	}

	input[type="button"].secondary {
		@include button($button-bg-secondary, $button-text-secondary);
		-webkit-appearance: none;
	}

	input[type="number"]{
		border: 1px solid;
		margin-top:0.8rem;
		padding: 0.5rem;
		width: 100%;
	}
	.container {
		display: table;

		> .row{
		display: table-row;
		.col{
			display: table-cell;
			padding: 0 0 1rem 1rem;
		}
		input[type="checkbox"], input[type="radio"]{
			display: table-cell;
		}
	}
	}
	ul{
		margin: 8px 0 1.6rem;
		padding-left: 3rem;

		&.list-bullet{
			li{
				display: list-item;
				list-style: disc outside;
				h4{
					font-weight: bold;
				}
				+ li {
					margin-top: 0.5rem;
				}
			}
		}

	}

  }

// Show / Hide input after checkbox
input ~ .col {
	.showIfChecked{
	input{
		height: 0;
		margin-top: 0;
		opacity: 0;
		padding: 0;
	}
}
}
input:checked {
		~ .col .showIfChecked{
		height:auto;
		width: auto;

		input{
			height:auto;
			margin-top:0.8rem;
			opacity: 1;
			padding: 0.5rem;
			transition: all 0.5s linear;
			width: 100%;
		}
	}
}


// summary page
main.summary{
		padding: 0;
		article{
			border-bottom: 5px solid $bg-body;
			margin: 0;
			padding: $main-side-padding;

			header{
				p{
					@include font-size(2.0);

					font-weight: bold;
				}
				h1{
					@include font-size(3.2);

					font-weight: bold;
					margin: $main-side-padding 0;
					text-align: center;
				}
			}
			h2{
				@include font-size(2.0);

				background: $bg-summary-section-header;
				color: $text-color-header;
				font-family: $font-heading;
				font-weight: bold;
				margin-top: -$main-side-padding;
				margin-right: -$main-side-padding;
				margin-bottom: 2rem;
				margin-left: -$main-side-padding;
				padding: $main-side-padding;
			}
			h3{
				font-family: $font-heading;
				@include font-size(2.0);
				font-weight: bold;
				padding-bottom: $main-side-padding;
				border-bottom: 2px solid $bg-summary-section-header;
				margin-bottom: 0;
			}
			h4{
				@include font-size(2.0);

				font-family: $font-heading;
				font-weight: bold;
				padding: 1rem 0;
			}
			h5{
				@include font-size(2.0);

				border-top: 1px solid #bfc1c3;
				border-bottom: 1px solid #bfc1c3;
				font-family: $font-heading;
				font-weight: normal;
				padding: 1rem 0;
			}
			table{
				border-top: 2px solid #005ea5;
				margin: $main-side-padding 0;
				width: 100%;
				tr{
					border-bottom: 1px solid #bfc1c3;
				}
				th, td{
					@include font-size(1.6);

					padding: $main-side-padding /2 0;

					&:first-child{
						text-align: left;
					}
					&:last-child{
						text-align: right;
					}
				}
				th{
					font-weight: bold;
				}

			}
		}
}

// alerts

.alert{
	border-left: 4px solid;
	display: block;
	padding: 1rem 1.6rem;
	margin: 1.6rem 0;

	&.alert--info{
		background-color: rgba(43, 139, 195, 0.1);
		border-left-color: #0068af;
		}
}

// expandable guidance

details{
	margin-bottom: 1.6rem;

	summary{
		color: $button-text-secondary;
	}
}

.panel {
	clear: both;
	border-left: 3px #bfc1c3 solid;
	margin-bottom: 1.6rem;
	padding: 0.8rem;

	* + *{
		margin-top: 1.6rem;
	}
}

.debug {
	main{
		margin-top: 4rem
	}
	header#page-header{
		display: block;
	}
}

  /*
	POC Stuff
  */
	  p.one {
	border-style: solid;
	border-width: 5px;
	}

	h1.hidden {
	visibility: hidden;
	}
