$bg-body: #F2F2F2;
$bg-header: #000;
$bg-main: #fff;
$bg-summary-section-header: #005ea5;

$text-color-header: #fff;
$text-color-pre-header: #6f777b;

$font-heading: SFUIText-Bold, -apple-system, BlinkMacSystemFont, sans-serif;
$font-copy: SFUIText-Regular, -apple-system, BlinkMacSystemFont, sans-serif;

$button-bg-primary: #08822e;
$button-bg-secondary: #fff;
$button-text-primary: #fff;
$button-text-secondary: #2b8cc4;

$main-side-padding: 16px;

@import 'base';

.back{
	display: none;
	position: fixed;
	top: 10px;
	left:8px;
	width: 12.5px;
	height: 21px;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACcAAAA/CAYAAABjJtHDAAAAAXNSR0IArs4c6QAAARNJREFUaAXtmVEOgkAMRMGLyFE4+h4FT4LTBBqCS2AapRszTZpuSOs+n/1Ruy4p5nkekMVqEkL92gVsQrWw2gaggSxAKB75gECpga2EeYAnYHmAF8E+AB/1lf3eUwPDqxXkE9lOkMbM3D17JzB2SWRMxlgDbL92TMZYA2y/dkzGWANsv3ZMxlgDbL92TMZYA2x/sztmbwRwBcnEyAoI94NqQNqX2athvUP4QnbQLkMKkBXn/TLoKoIHGQyK8zEZdBXBgwwGxfmYDLqK4EEGg+J8TAZdRfAgg0FxPiaDriJ4kMGgOB/7a4M//xu97/sJKkfkC9lmXPyI7/01YavqBDAPbIU8AMwHOwBsB2wHWMzk+mxf37neumI439cFAAAAAElFTkSuQmCC');
	background-size: 12.5px 21px;
    background-repeat: no-repeat;
    text-indent: -999em;
    border: 0;
}

.debug .back{
	display: block;
}

main input[type="button"].primary {
	border-radius: 4px;
	box-shadow: 0 2px 0 darken($button-bg-primary, 15%);

	&:active {
		top: 2px;
		box-shadow: 0 0 0 $button-bg-primary;
	}

	&.disabled,
	&[disabled="disabled"],
	&[disabled] {
		&:active {
			top: 0;
			box-shadow: 0 2px 0 darken($button-bg-primary, 15%);
		}
	}
}

#Boolean,
#MultipleChoice {
	input[type="checkbox"] {
		+ label,
		+ div label {
			&::before {
				border: 1px solid;
				border-radius: 5px;
			}

			&::after {
				border-color: $button-bg-primary;
			}
		}
	}
}

//Icons

.edit-income-btn__icon--ios {display: table-cell;}
.edit-income-btn__icon--android {display: none;}
.edit-income-btn__icon--windows {display: none;}
