/*
* @Author: Mark Ford
* @Date:   2017-03-21 10:55:44
* @Last Modified by:   Mark Ford
* @Last Modified time: 2017-03-21 12:26:15
*/
$bg-body: #ccc;
$bg-header: #000;
$bg-main: #fff;

$text-color-header: #fff;

$font-heading: SegoeUI;
$font-copy: SegoeUI;

$button-bg-primary: #00823b;
$button-bg-secondary: #fff;
$button-text-primary: #fff;
$button-text-secondary: #2b8cc4;

@import 'base';