$bg-body: transparent;
$bg-header: #000;
$bg-main: #fff;
$bg-summary-section-header: #005ea5;


$text-color-header: #fff;
$text-color-pre-header: #6f777b;

$font-heading: "Segoe UI";
$font-copy: "Segoe UI";

$button-bg-primary: #00823b;
$button-bg-secondary: #fff;
$button-text-primary: #fff;
$button-text-secondary: #2b8cc4;

$main-side-padding: 20px;

@import 'base';

.back{
	display: none;
}