$bg-body: transparent;
$bg-header: #000;
$bg-main: #fff;
$bg-summary-section-header: #005ea5;


$text-color-header: #fff;
$text-color-pre-header: #6f777b;

$font-heading: "Segoe UI", sans-serif;
$font-copy: "Segoe UI", sans-serif;

$button-bg-primary: #00823b;
$button-bg-secondary: #fff;
$button-text-primary: #fff;
$button-text-secondary: #2b8cc4;

$main-side-padding: 20px;

@import 'base';

.back{
	display: none;
}

#MultipleChoice {
	input[type="checkbox"] {
		+ label,
		+ div label {
			&::before {
				border: 2px solid #ccc;
			}
		}

		&:checked + label::before,
		&:checked + div label::before {
			background: $button-bg-primary;
		    border: none;
		    width: 28px;
		    height: 28px;
		}

		&:checked + label::after,
		&:checked + div label::after {
			border-color: $button-text-primary;
			top: 8px;
			left: 6px;
			opacity: 1;
		}
	}
}

//Primary button
main input[type="button"].primary {
	padding: 1em .789473em;

	&.disabled,
	&[disabled="disabled"],
	&[disabled]{
		color: #798185;
		background-color: #dee0e2;
	}
}

/* Radio buttons */

#Boolean,
#MultipleChoice {

	input[type="radio"] {

		+ label {

			&::before{
				border-color: #000;
			}

			&::after{
				border-color: $button-bg-primary;
			}

		}

		&:checked + label::after{
			border-color: #000;
		}
	}

	input[type="checkbox"] {

		+ label,
		+ div label {
			&::before,
			&::after {
				border: 2px solid #000;
			}

			&::after {
				border-color: #000;
				border-width: 0 0 2px 2px;
			}
		}
	}
}
