<script type="text/javascript">

      function isDefined(variable) {
          return typeof variable !== 'undefined'
      }

      function getRenewalType() {
          return map.get("renewalType").toUpperCase();
      }

      function hasPartner() {
          return map.get("hasPartner") === "true";
      }

      function addProperty(obj, k, v) {
          if (isDefined(k)) {
              obj[k] = v;
          }
      }

      function addIfNonZero(obj, k, v) {
          if (v !== 0) addProperty(obj, k, v);
      }

      function getQuestion(id) {
          var questions = data().questions;
          var arrayLength = questions.length;
          for (var i = 0; i < arrayLength; i++) {
              if (questions[i].id == id) {
                  return questions[i];
              }
          }
          throw "Failed to find question Id " + id;
      }

      function getAnswerForQuestion(questionId) {
          var question = getQuestion(questionId);
          return map.get(question.questionType.modelId);
      }

      function getAnswerForModelId(modelId) {
          return map.get(modelId);
      }

      function getMapBooleanValue(modelId) {
          var mapValue = map.get(modelId);
          var rtn = false;

          if (isDefined(mapValue)) {
              if (mapValue === 'true') {
                  rtn = true;
              }
          }
          return (rtn);
      }

      function getMapIntValue(key) {
          var value = map.get(key);
          return isDefined(value) ? Math.floor(parseFloat(value)) : 0;
      }


      function buildTotal(modelIds) {
          function accumulate(total, num) {
              return total + num;
          }

          return modelIds.map(getMapIntValue).reduce(accumulate);
      }

      function findTextNodes(element) {
          var walker = document.createTreeWalker(
                  element,
                  NodeFilter.SHOW_TEXT,
                  null,
                  false
          );

          var node;
          var textNodes = [];

          while(node = walker.nextNode()) {
              textNodes.push(node);
          }

          return textNodes;
      }

      function replaceCommonVariablesInElement(element) {
          // Update the question headers with position info and dates.
          var endDate = map.get("endDate");
          var startDate = map.get("startDate");
          var endDate_PY_1 = map.get("endDate_PY_1");
          var startDate_PY_1 = map.get("startDate_PY_1");
          var partner_header = map.get("PARTNER_DETAILS");
          var claim_type = map.get("CLAIM_TYPE");

          var all = findTextNodes(element);

          for (var i = -1, l = all.length; ++i < l;) {
              var node = all[i];
              var newText = node.nodeValue
                      .replace("[DATE_A]", startDate)
                      .replace("[DATE_B]", endDate)
                      .replace("[DATE_A_PY_1]", startDate_PY_1)
                      .replace("[DATE_B_PY_1]", endDate_PY_1)
                      .replace("[CLAIM_TYPE]", claim_type)
                      .replace("[PARTNER_DETAILS]", partner_header);

              node.nodeValue = newText;

          }
      }

</script>