
<script type="text/javascript">

      function isDefined(variable) {
          return typeof variable !== 'undefined'
      }

      function isMainApplicant() {
          return map.get("isMainApplicant");
      }

      function getRenewalType() {
          return map.get("renewalType").toUpperCase();
      }

      function hasPartner() {
          return map.get("hasPartner") === "true";
      }

      function addProperty(obj, k, v) {
          if (isDefined(k)) {
              obj[k] = v;
          }
      }

      function addIfNonZero(obj, k, v) {
          if (v !== 0) addProperty(obj, k, v);
      }

      function getQuestion(id) {
          var questions = data().questions;
          var arrayLength = questions.length;
          for (var i = 0; i < arrayLength; i++) {
              if (questions[i].id == id) {
                  return questions[i];
              }
          }
          throw "Failed to find question Id " + id;
      }

      function getAnswerForQuestion(questionId) {
          var question = getQuestion(questionId);
          return map.get(question.questionType.modelId);
      }

      function getAnswerForModelId(modelId) {
          return map.get(modelId);
      }

      function getMapBooleanValue(modelId) {
          var mapValue = map.get(modelId);
          var rtn = false;

          if (isDefined(mapValue)) {
              if (mapValue === 'true') {
                  rtn = true;
              }
          }
          return (rtn);
      }

      function getMapIntValue(key) {
          var value = map.get(key);
          return isDefined(value) ? Math.floor(parseFloat(value)) : 0;
      }


      function buildTotal(modelIds) {
          function accumulate(total, num) {
              return total + num;
          }

          return modelIds.map(getMapIntValue).reduce(accumulate);
      }

      function formatWithCommas(x) {
          return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      }

      function findTextNodes(element) {
          var walker = document.createTreeWalker(
                  element,
                  NodeFilter.SHOW_TEXT,
                  null,
                  false
          );

          var node;
          var textNodes = [];

          while (node = walker.nextNode()) {
              textNodes.push(node);
          }

          return textNodes;
      }

      function replacePlaceholdersInIntroPage(element) {
          var placeholders = buildMap();

          placeholders.set('[DATE_A]', map.get("startDate"));
          placeholders.set('[DATE_B]', map.get("endDate"));
          placeholders.set('[DATE_A_PY_1]', map.get("startDate_PY_1"));
          placeholders.set('[DATE_B_PY_1]', map.get("endDate_PY_1"));
          placeholders.set('[CLAIM_TYPE]', map.get("CLAIM_TYPE"));
          placeholders.set('[PARTNER_DETAILS]', map.get("PARTNER_DETAILS"));
          replacePlaceholdersInElement(element, placeholders);
      }

      function replaceAwardDate(header, awardStartDate, awardEndDate) {
          return(header.replace("[awardStartDate]", awardStartDate).replace("[awardEndDate]",awardEndDate));
      }

      function replacePlaceholdersInQuestionPage(question, page) {
          var placeholders = buildMap();

          var claimType = map.get("CLAIM_TYPE");
          placeholders.set('[CLAIM_TYPE]', claimType);
          placeholders.set('[PARTNER_DETAILS]', map.get("PARTNER_DETAILS"));

          if (question.id.endsWith(PREVIOUS_YEAR_MINUS_1)) {
              placeholders.set('[START_DATE]', map.get("startDate_PY_1"));
              placeholders.set('[END_DATE]', map.get("endDate_PY_1"));
          } else {
              placeholders.set('[START_DATE]', map.get("startDate"));
              placeholders.set('[END_DATE]', map.get("endDate"));
          }

          // Award start/end date headers
          var awardStartDate = map.get("awardStartDate");
          var awardEndDate = map.get("awardEndDate");

          if (isDefined(awardStartDate) && isDefined(awardEndDate)) {
              var benefitHeader = "Did you get any of these benefits for the whole time between [awardStartDate] and [awardEndDate]?"
              var commonHeader = "Which did you get for the whole time between [awardStartDate] to [awardEndDate]?";
              var packReceiptHeader = "Have you received and checked your renewal pack for [awardStartDate] to [awardEndDate]?";
              var reportChanges = "Check the details in your renewal paper pack for your [CLAIM_TYPE] claim between [awardStartDate] and [awardEndDate]?".replace("[CLAIM_TYPE]", claimType);

              placeholders.set('[BENEFIT_AWARD_DATE_HEADER]', replaceAwardDate(benefitHeader, awardStartDate, awardEndDate));
              placeholders.set('[COMMON_AWARD_DATE_HEADER]', replaceAwardDate(commonHeader, awardStartDate, awardEndDate));
              placeholders.set('[PACK_RECEIPT_AWARD_DATE_HEADER]', replaceAwardDate(packReceiptHeader, awardStartDate, awardEndDate));
              placeholders.set('[REPORT_CHANGE_AWARD_DATE_HEADER]', replaceAwardDate(reportChanges, awardStartDate, awardEndDate));
          } else {
              placeholders.set('[BENEFIT_AWARD_DATE_HEADER]', "Did you get any of these benefits for the whole of your award period?");
              placeholders.set('[COMMON_AWARD_DATE_HEADER]', "Which did you get for the whole of your award period?");
              placeholders.set('[PACK_RECEIPT_AWARD_DATE_HEADER]', "Have you received and checked your renewal pack for the whole of your award period?");
              placeholders.set('[REPORT_CHANGE_AWARD_DATE_HEADER]', "Check the details in your renewal paper pack for your [CLAIM_TYPE] claim?".replace("[CLAIM_TYPE]", claimType));
          }

          replacePlaceholdersInElement(page, placeholders);
      }

      /**
       * Replaces placeholders in a element with dynamic values.
       * {Element} element
       * {Map} placeholders - placeholder -> value
       */
      function replacePlaceholdersInElement(element, placeholders) {
          var textNodes = findTextNodes(element);
          var placeholdersArray = Array.from(placeholders.entries());

          textNodes.forEach(function (node) {
              node.nodeValue = placeholdersArray.reduce(function (acc, placeholder) {
                  return acc.replace(placeholder[0], placeholder[1]);
              }, node.nodeValue);
          });
      }

</script>