<script>

    function resumeApp() {
        resume(document.getElementById("resumeData").value);
    }

    function debugOut(dumpData, element) {
        var span = document.getElementById(element);
        text = document.createTextNode(dumpData);
        span.innerHTML = ''; // clear existing
        span.appendChild(text);
        return(dumpData);
    }

    function testCanGoBack() {
        if (stack !== undefined) {
            alert(" Can Go Back is " + canGoBack());
        } else {
             alert("No stack defined! Was the model resumed?");
        }
    }

    function extractAPI() {
        var apiJson = buildSubmissionPostRequest();
        var span = document.getElementById("dumpText"),
        text = document.createTextNode(apiJson);
        span.innerHTML = ''; // clear existing
        span.appendChild(text);
    }

    function startDemo(awardStartDate, awardEndDate) {
        toggleControls();
        hide("demo");

        var renewalType = document.getElementById("RenewalType").value;
        var hasPartner = document.getElementById("HasPartner").value;

        // Invoke the startup function and supply dummy data. This test data will run through complex set of questions.
        startRenewals(renewalType, hasPartner, "CS700100AD", awardStartDate, awardEndDate);
    }

    function questionsDebugDump() {
        // Debug code to dump generated questions!
        var tmp="";
        var count=0;
        data().questions.forEach(function (question) {
            tmp = tmp + " Id:"+count+ ":"+ question.id;
            count = count + 1;
        });
        tmp = "Number of questions: " + builtData.questions.length + " - Questions: " + tmp
        debugOut(tmp, "dumpText");
    }

    function TEST_ERROR() {
        question_pos = "QUESTION_NOT_DEFINED";
        getQuestion();
    }

</script>