<script>

var              JOURNEY_COMPLETE = "JourneyComplete";
var JOURNEY_COMPLETE_AUTO_RENEWAL = "JourneyCompleteAutoRenewal";
var                  ROUTE_TO_COC = "RouteToChangeOfCircumstance";
var                SUBMIT_RENEWAL = "SubmitRenewal";
var             SAVE_AND_CONTINUE = "SaveAndContinue";
var      SAVE_AND_COME_BACK_LATER = "SaveAndComeBackLater";
var             INTERNAL_JS_ERROR = "InternalJSError";

    // TODO: NOTE: awardStartDate and awardEndDate not used at present.
    function startRenewals(renewalType, hasPartner, nino, awardStartDate, awardEndDate) {
        // Initialise stack.
        stack = [];

        // Add all parameters to map.
        map.set("startDate_PY_1", "06 April 2015");
        map.set("endDate_PY_1", "05 April 2016");
        map.set("startDate", "06 April 2016");
        map.set("endDate", "05 April 2017");
        map.set("renewalType", renewalType);
        map.set("hasPartner", hasPartner);
        map.set("nino", nino);

        if (isDefined(awardStartDate) && isDefined(awardEndDate)) {
            map.set("awardStartDate", awardStartDate);
            map.set("awardEndDate", awardEndDate);
        }

        // Obtain start question from journey.
        var journey = data();
        questionPos = journey.startQuestion;
        // Display the first question.
        displayQuestion();
    }

    function hook(journeyOutcomeStatus) {

        var hookResponse = {
            "journeyOutcomeStatus":journeyOutcomeStatus,
            "isEstimatedIncome": isEstimatedIncome()
        };

        var response = JSON.stringify(hookResponse);
        debugOut(response, "dumpText");

        // IOS callback.
        try {
            window.webkit.messageHandlers.iosmessagehandler.postMessage(response);
        } catch(err) {}

        // Windows callback.
        try {
            window.external.notify(response);
        } catch(err) {}

        // Android callback.
        try {
            HMRCAndroid.hook(response);
        } catch(err) {}

        // Selenium callback.
        try {
            window.seleniumCallback(response);
        } catch(err) {}
    }

    // Define global error handler.
    window.onerror = function (msg, url, lineNo, columnNo, error) {
        hook(INTERNAL_JS_ERROR);
    };

</script>