<script>

    function canGoBack() {
        var outcome = stack.length == 0 ? "true" : "false";

        // Android callback.
        try {
            HMRCAndroid.canAppGoBack(outcome);
            return;
        } catch(err) {}

        return(outcome);
    }

    function BACK() {
        if (stack.length == 0) {
            questionPos = data().startQuestion;
        } else {
            questionPos = stack.pop();
        }
        toggleControls("hide");
        displayQuestion();
        // Force the saving of the app.
        nativeRequestToAutoSave();
    }

    function nativeRequestToAutoSave() {
        hook(SAVE_AND_CONTINUE);
    }

    function nativeRequestToSaveAndExit() {
        hook(SAVE_AND_COME_BACK_LATER);
    }

    function MultipleChoiceNEXT() {

        var questionData = getQuestion(questionPos);
        var arrayLength = questionData.questionType.multipleChoiceOptions.length;

        // Cycle around associated checkbox input fields and check if ticked.
        for (var i = 0; i < arrayLength; i++) {
            // Obtain handle to checkbox.
            var inputField = document.getElementById(questionData.questionType.multipleChoiceOptions[i].modelId + "_INPUT");
            // Check if input field is checked.
            if (inputField.checked == true) {
                var element = document.getElementById("row_number_checkbox_ID_"+i)
                // Obtain the input value for the associated field and update map.
                var input = element.value;
                map.set(questionData.questionType.multipleChoiceOptions[i].modelId, input);
            } else {
                // Not ticked, remove from map.
                map.delete(questionData.questionType.multipleChoiceOptions[i].modelId);
            }
        }

        // Route to next question.
        stack.push(questionPos);
        var question = getQuestion(questionPos);
        questionPos = question.questionType.nextQuestionId;
        nativeRequestToAutoSave();
        displayQuestion();
    }

    function NEXT_DECIMAL() {
        stack.push(questionPos);
        var question = getQuestion(questionPos);
        questionPos = question.questionType.nextQuestionId;

        var decimalInput = document.getElementById("DecimalInput").value;
        map.set(question.questionType.modelId, decimalInput+"");
        nativeRequestToAutoSave();
        displayQuestion();
    }

    function NEXT(nextId) {
        var question = getQuestion(questionPos);
        var arrayLength = question.questionType.multipleChoiceOptions.length;

        var enableNext=false;
        // Cycle around associated checkbox input fields and check if ticked.
        for (var i = 0; i < arrayLength; i++) {
            // Obtain handle to checkbox.
            var inputField = document.getElementById(question.questionType.multipleChoiceOptions[i].modelId).checked;
            // Check if the control is checked.
            if (inputField == true) {
                map.set(question.questionType.multipleChoiceOptions[i].modelId, "true");
                enableNext = true;
            } else {
                map.set(question.questionType.multipleChoiceOptions[i].modelId, "false");
            }
        }

        if (enableNext == false) {
            alert(' Please select one of the options to continue.');
        } else {
            stack.push(questionPos);
            questionPos = question.questionType.nextQuestionId;
            nativeRequestToAutoSave();
            displayQuestion();
        }
    }

    function NEXT_CONTINUE() {
        var question = getQuestion(questionPos);
        stack.push(questionPos);
        questionPos = question.questionType.nextQuestionId;
        nativeRequestToAutoSave();
        displayQuestion();
    }

    function deleteQuestionData(questionDrop) {
        // Clear associated question answers associated with 'yes' question route.
        if (questionDrop !== undefined && questionDrop.questionIds !== undefined) {
            var arrayLength = questionDrop.questionIds.length;
            // Cycle around questionIds.
            for (var i = 0; i < arrayLength; i++) {
                resetQuestionData=getQuestion(questionDrop.questionIds[i]);
                if (resetQuestionData !== undefined) {
                    if (resetQuestionData.questionType.type == "MultipleChoice" || resetQuestionData.questionType.type == "MultipleChoiceWithNumber") {
                        var length = resetQuestionData.questionType.multipleChoiceOptions.length;
                        // Cycle around associated model fields and delete from map.
                        for (var inner = 0; inner < length; inner++) {
                            map.delete(resetQuestionData.questionType.multipleChoiceOptions[inner].modelId);
                        }
                    } else {
                        map.delete(resetQuestionData.questionType.modelId);
                    }
                }
            }
        }
    }

    function clearYesInfoDiv() {
        document.getElementById("yesInfoDiv").style.display = "none";
        document.getElementById("yesInfoDiv").innerHTML = "";
    }

    function NEXT_BOOLEAN_CONTINUE() {
        var question = getQuestion(questionPos);
        clearYesInfoDiv();
        if (document.getElementById('boolean_no').checked == true || document.getElementById('boolean_yes').checked == true) {
            stack.push(questionPos);
        }

        var route=false;
        if (document.getElementById('boolean_no').checked == true) {
            questionPos = question.questionType.noNextQuestionId;
            deleteQuestionData(question.questionType.answerNo);
            route=true;
        } else if (document.getElementById('boolean_yes').checked == true) {
            questionPos = question.questionType.yesNextQuestionId;
            deleteQuestionData(question.questionType.answerYes);
            route=true;
        } else alert('Please select one of the options.');

        if (route) {
            nativeRequestToAutoSave();
            displayQuestion();
        }
    }

    function SUMMARY_CONFIRM_AND_RENEW() {
        questionPos = 'Native-submit-renewal';

        displayQuestion();
    }

    function SUMMARY_SAVE_AND_COME_BACK_LATER() {
        questionPos = 'save-and-exit';

        displayQuestion();
    }

    function YES() {
        var question = getQuestion(questionPos);
        document.getElementById("yesInfoDiv").style.display = "block";

        if(isDefined(question.questionType.yesInfoDiv)) {
            document.getElementById("yesInfoDiv").innerHTML = document.getElementById(question.questionType.yesInfoDiv).innerHTML;
        }
        if (isDefined(question.questionType.modelId)) {
            map.set(question.questionType.modelId, "true");
        }
    }

    function NO() {
        var question = getQuestion(questionPos);
        clearYesInfoDiv();

        if (isDefined(question.questionType.modelId)) {
            map.set(question.questionType.modelId, "false");
        }
    }

    function SAVE_AND_EXIT() {
        // Invoke the hook.
        nativeRequestToSaveAndExit();
    }

</script>