<script>
    var SINGLE = "D";
    var JOINT = "D2";
    var AUTO_RENEWAL = "R";
    var SINGLE_D1 = "SINGLE_D1";
    var JOINT_D1 = "JOINT_D1";
    var SINGLE_D2 = "SINGLE_D2";
    var JOINT_D2 = "JOINT_D2";

    var questionPos = "";    // The current question position.
    var stack = [];         // Store the question Id's based on user selection. Use for routing back through the selected questions.
    var map = new Map();    // Holds the answers to questions and input values supplied to application on startup.

    function dynamicRadioButton(selectionType) {
        var questionData = getQuestion(questionPos);
        var arrayLength = questionData.questionType.multipleChoiceOptions.length;

        // Remove all child nodes.
        removeChildren("containerDiv");

        // Create child nodes based on current question type.
        for (var i = 0; i < arrayLength; i++) {

            // Clone the associated input row based on type.
            updateChildren("row_ID_" + selectionType, i);

            // Obtain handle to the radio button.
            var radioButton = document.getElementById("row_" + selectionType + "_ID_" + i);

            // Set text label.
            var label = document.getElementById("row_label_" + selectionType + "_ID_" + i);
            label.innerHTML = questionData.questionType.multipleChoiceOptions[i].option;

            // Check if the button (checkbox or radio) was previously selected.
            if (map.get(questionData.questionType.multipleChoiceOptions[i].modelId) == "true") {
                radioButton.setAttribute("checked", "checked");
            } else if (map.has(questionData.questionType.multipleChoiceOptions[i].modelId) && selectionType == "checkbox") {
                // Default the checkbox as checked and display the input number field.
                radioButton.setAttribute("checked", "checked");
                show('number_entry_hidden_' + i);
            }

            // update the controls based on type.
            if (selectionType == 'radio') {
                radioButton.setAttribute("id", questionData.questionType.multipleChoiceOptions[i].modelId);
                radioButton.setAttribute("data-se", questionData.questionType.multipleChoiceOptions[i].questionId);
                radioButton.setAttribute("name", "radio");
                label.setAttribute("for", questionData.questionType.multipleChoiceOptions[i].modelId);
            } else if (selectionType == "checkbox") {

                label.setAttribute("for", questionData.questionType.multipleChoiceOptions[i].modelId + "_INPUT");

                // Set the id of the number input field.
                var input = document.getElementById("row_number_" + selectionType + "_ID_" + i);
                radioButton.setAttribute("id", questionData.questionType.multipleChoiceOptions[i].modelId + "_INPUT");
                radioButton.setAttribute("data-se", questionData.questionType.multipleChoiceOptions[i].questionId);
                radioButton.setAttribute("name", questionData.questionType.multipleChoiceOptions[i].modelId + "_INPUT");

                // Set the number field label
                var numberInputLabel = document.getElementById("row_number_checkbox_label_ID_" + i);
                numberInputLabel.innerHTML = questionData.questionType.multipleChoiceOptions[i].question;
                numberInputLabel.setAttribute("for", input.id);

                if (map.has(questionData.questionType.multipleChoiceOptions[i].modelId)) {
                    input.setAttribute("value", map.get(questionData.questionType.multipleChoiceOptions[i].modelId));
                }

            }
        }

        // Set the next onClick function based on the type of control.
        if (selectionType == "checkbox") {
            document.getElementById("MultipleChoiceNEXT").onclick = function () {
                MultipleChoiceNEXT();
            };
        } else {
            document.getElementById("MultipleChoiceNEXT").onclick = function () {
                NEXT();
            };
        }

        insertDynamicHeader(questionData, "dynamicHeader-MultipleChoice-header", "dynamicHeader-MultipleChoice-footer");
    }

    function initQuestion(question, control, header) {
        var questionOutput = question.question;

        // If previousQuestionOption defined then the question text is appended with the question multi-option name of the associated question.
        if (question.previousQuestionOption) {
            var linkQuestion = getQuestion(question.previousQuestionOption);
            var arrayLength = linkQuestion.questionType.multipleChoiceOptions.length;

            var optionValue = "";
            // Cycle around associated checkbox input fields and check if ticked.
            for (var i = 0; i < arrayLength; i++) {
                var mapEntry = map.get(linkQuestion.questionType.multipleChoiceOptions[i].modelId);
                // Check if the control was checked.
                if (mapEntry !== undefined && mapEntry == "true") {
                    optionValue = linkQuestion.questionType.multipleChoiceOptions[i].option;
                    break;
                }
            }
            // Append the output question name with the name of the previous selected radio button.
            questionOutput = questionOutput + optionValue + "?";
        }

        document.getElementById(header).innerHTML = questionOutput;
        toggleControls("hide");
        toggleButtonVisibility(question);
        toggleButtonText(question);
        show(control);
    }

    function displayQuestion() {
        var question = getQuestion(questionPos);

        // Trace for current question Id.
        if (question.group !== undefined) {
            debugOut(question.group, "QuestionGroup");
        }
        debugOut(questionPos, "QuestionId");
        debugOut(question.questionType.type, "QuestionType");


        if (question.questionType.type == "RoutingDecision") {
            // Routing question - Based on the type of renewal, extract question Id from RoutingDecision question.
            var renewalType = map.get("renewalType");
            questionPos = "";

            // Based on the renewal type, route to the next question.
            if (renewalType == JOINT_D1 || renewalType == JOINT_D2 && question.questionType.JOINT_ROUTE !== undefined) {
                questionPos = question.questionType.JOINT_ROUTE;

            } else if (renewalType == SINGLE_D2 || renewalType == JOINT_D2) {
                questionPos = question.questionType.JOINT_D2_ROUTE;
            }

            if (questionPos == undefined || questionPos == "") {
                // Route to default question.
                questionPos = question.questionType.OTHER_ROUTE;
            }

            displayQuestion();

            return;
// START JOURNEY CONTROL QUESTIONS!
        } else if (question.questionType.type == JOURNEY_COMPLETE) {

            // This indicates end of journey. This journey is only used for pack-not-received question.
            toggleControls("hide");
            hook(JOURNEY_COMPLETE);
            return;
        } else if (question.questionType.type == JOURNEY_COMPLETE_AUTO_RENEWAL) {

            // This indicates end of journey for auto renewals!
            toggleControls("hide");
            hook(JOURNEY_COMPLETE_AUTO_RENEWAL);
            return;
        } else if (question.questionType.type == SAVE_AND_COME_BACK_LATER) {

            // This indicates end of journey! User has quit.
            toggleControls("hide");
            hook(SAVE_AND_COME_BACK_LATER);
            return;
        } else if (question.questionType.type == ROUTE_TO_COC) {
            // Route to Change of Circumstance.
            toggleControls("hide");
            // Advance the questionPosition to the summary screen.
            questionPos = "summary-screen";

            hook(ROUTE_TO_COC);
            // Save switch which indicates user routed to CoC.
            map.set("hasChangeOfCircs", "true");
            return;

        } else if (question.questionType.type == SUBMIT_RENEWAL) {
            hook(SUBMIT_RENEWAL);

// END JOURNEY CONTROL QUESTIONS!
        } else if (question.questionType.type == "Continue") {
            initQuestion(question, 'Continue', 'headerContinue');
            insertDynamicHeader(question, "dynamicHeader-Continue-header", "dynamicHeader-Continue-footer");
            replacePlaceholdersInQuestionPage(question, document.getElementById('Continue'));
        } else if (question.questionType.type == "Boolean") {
            initQuestion(question, 'Boolean', 'headerBoolean');
            insertDynamicHeader(question, "dynamicHeader-Boolean-header", "dynamicHeader-Boolean-footer");
            replacePlaceholdersInQuestionPage(question, document.getElementById('Boolean'));

            var yes = document.getElementById('boolean_yes');
            var no = document.getElementById('boolean_no');

            var answer = map.get(question.questionType.modelId);

            if (isDefined(answer)) {
                if (answer === "true") {
                    yes.checked = true;
                    no.checked = false;
                } else {
                    yes.checked = false;
                    no.checked = true;
                }
            } else {
                no.checked = false;
                yes.checked = false;
            }

            booleanPageValidation();
        } else if (question.questionType.type == "MultipleChoice") {

            initQuestion(question, 'MultipleChoice', 'headerMultipleChoice');
            dynamicRadioButton("radio");
            multipleChoicePageValidation();
            replacePlaceholdersInQuestionPage(question, document.getElementById('MultipleChoice'));
        } else if (question.questionType.type == "MultipleChoiceWithNumber") {

            initQuestion(question, 'MultipleChoice', 'headerMultipleChoice');
            dynamicRadioButton("checkbox");
            multipleChoiceWithNumberPageValidation();
            replacePlaceholdersInQuestionPage(question, document.getElementById('MultipleChoice'));
        } else if (question.questionType.type == "Decimal") {
            initQuestion(question, 'Decimal', 'headerDecimal');
            insertDynamicHeader(question, "dynamicHeader-Decimal-header", "dynamicHeader-Decimal-footer");
            replacePlaceholdersInQuestionPage(question,document.getElementById('Decimal'));

            // Populate Decimal value from model if exists.
            var question = getQuestion(questionPos);
            var decimalStore = map.get(question.questionType.modelId);
            if (decimalStore === undefined) {
                // Clear any previous entry in the field.
                document.getElementById('DecimalInput').value = ""
            } else if (decimalStore !== "") {
                document.getElementById('DecimalInput').value = decimalStore;
            }

            decimalPageValidation();


        } else if (question.questionType.type == 'Summary') {
            initSummary();
        }
        else {
            throw('Failed to resolve the question type ' + question.questionType.type);
        }

        // Reset the scroll position when a new question is displayed.
        window.scrollTo(0, 0);
    }


    var dynamicControls = ["Boolean", "MultipleChoice", "Decimal", "Continue", "Summary"];

    function toggleControls(toggle) {
        dynamicControls.forEach(function (item) {
            if (toggle == "show") show(item); else hide(item);
        });
    }

    function toggleButtonVisibility(question) {
        var back = document.querySelector('#' + question.questionType.type + " .secondary");
        var next = document.querySelector('#' + question.questionType.type + " .primary");

        if (back !== null) {
            if (isDefined(question.questionType.backButtonHidden) && question.questionType.backButtonHidden === true) {
                back.style.display = 'none';
            } else {
                back.style.display = 'block';
            }
        }
    }

    function toggleButtonText(question) {
        var back = document.querySelector('#' + question.questionType.type + " .secondary");
        var next = document.querySelector('#' + question.questionType.type + " .primary");

        if (next !== null) {
            if (isDefined(question.questionType.nextButtonText)) {
                next.value = question.questionType.nextButtonText;
            } else {
                next.value = 'Save and continue';
            }
        }
    }

    // Toggle estimatedIncome model value.
    function setEstimatedIncomeValue() {
        var questionData = getQuestion(questionPos);
        var radio = document.getElementById('estimatedIncomeValue');

        if (radio.checked == true) {
            map.set(questionData.questionType.modelIdEstimatedIncome, "true");
        } else {
            map.set(questionData.questionType.modelIdEstimatedIncome, "false");
        }
    }

    function toggleRadioButton(id) {
        var radio = document.getElementById(id);
        if (radio.checked == true) {
            map.set(id, "true");
        } else {
            map.set(id, "false");
        }
    }
</script>