<script>

    function headers_SINGLE_D1() {
        var headerData = new Map();
        var introMap = new Map();

        // Define headers for questions.
        var posY = 3;
        headerData.set("benefits-and-income", 1);
        headerData.set("household-income", 2);

        introMap.set("Your income and benefits between [DATE_A] and [DATE_B]", 1);
        introMap.set("Other household income, such as income from property between [DATE_A] and [DATE_B]", 2);
        introMap.set("Report any changes to circumstances", 3);

        updateHeaders(posY, headerData, introMap);
    }

    function headers_JOINT_D1() {
        var headerData = new Map();
        var introMap = new Map();

        // Define headers for questions.
        var posY = 4;
        headerData.set("benefits-and-income", 1);
        headerData.set("partner", 2);
        headerData.set("household-income", 3);

        introMap.set("Your income and benefits between [DATE_A] and [DATE_B]", 1);
        introMap.set("Your partner's income and benefits between [DATE_A] and [DATE_B]", 2);
        introMap.set("Other household income, such as income from property between [DATE_A] and [DATE_B]", 3);
        introMap.set("Report any changes to circumstances", 4);

        updateHeaders(posY, headerData, introMap);
    }

    function headers_SINGLE_D2() {
        var headerData = new Map();
        var introMap = new Map();

        // Define headers for questions.
        var posY = 5;
        headerData.set("benefits-and-income"+PREVIOUS_YEAR_MINUS_1, 1);
        headerData.set("household-income"+PREVIOUS_YEAR_MINUS_1, 2);
        headerData.set("benefits-and-income", 3);
        headerData.set("household-income", 4);

        introMap.set("Your income and benefits between [DATE_A_PY_1] and [DATE_B_PY_1]", 1);
        introMap.set("Other household income, such as income from property between [DATE_A_PY_1] and [DATE_B_PY_1]", 2);
        // MULTI OR SINGLE! true/false
        introMap.set("Your income and benefits between [DATE_A] and [DATE_B]", 3);
        introMap.set("Other household income, such as income from property between [DATE_A] and [DATE_B]", 4);
        introMap.set("Report any changes to circumstances", 5);

        updateHeaders(posY, headerData, introMap);
    }

    function headers_JOINT_D2() {
        var headerData = new Map();
        var introMap = new Map();

        var posY = 7;
        headerData.set("benefits-and-income"+PREVIOUS_YEAR_MINUS_1, 1);
        headerData.set("partner"+PREVIOUS_YEAR_MINUS_1, 2);
        headerData.set("household-income"+PREVIOUS_YEAR_MINUS_1, 3);
        headerData.set("benefits-and-income", 4);
        headerData.set("partner", 5);
        headerData.set("household-income", 6);

        introMap.set("Your income and benefits between [DATE_A_PY_1] and [DATE_B_PY_1]",1);
        introMap.set("Your partner's income and benefits between [DATE_A_PY_1] and [DATE_B_PY_1]",2);
        introMap.set("Other household income, such as income from property between [DATE_A_PY_1] and [DATE_B_PY_1]",3);
        introMap.set("Your income and benefits between [DATE_A] and [DATE_B]",4);
        introMap.set("Your partner's income and benefits between [DATE_A] and [DATE_B]",5);
        introMap.set("Other household income, such as income from property between [DATE_A] and [DATE_B]",6);
        introMap.set("Report any changes to circumstances",7);

        updateHeaders(posY, headerData, introMap);
    }

    function updateHeaders(posY, headerData, introMap) {
        function replaceXCounter(group, xvalue) {
            data().questions.forEach(function (question) {
                if (isDefined(question.group) && question.group === group) {
                    question.question = question.question.replace("[REPLACE_X]", xvalue);
                }
            });
        }

        // Update REPLACE_Y with part number.
        data().questions.forEach(function (question) {
            question.question = question.question.replace("[REPLACE_Y]", posY);
        });

        // Update REPLACE_X header with question Part numbers from headerData groups.
        headerData.forEach(function (value, name) {
            replaceXCounter(name, value);
        });

        // Define the renewal Parts the applicant will answer.
        var totalMessages = document.getElementById("completing-review-message-total");
        totalMessages.innerHTML = ''; // clear existing
        totalMessages.appendChild(document.createTextNode(''+posY));

        //Add a warning to the intro for D2 renewals
        if(getRenewalType() === JOINT_D2 || getRenewalType() === SINGLE_D2){
            var warning = document.getElementById("completingReviewWarningForD2");
            warning.style.display = "block";
        }

        var itm = document.getElementById("cloneForInsertPoint");
        var insertDynamicPoint = document.getElementById("dynamicInsertPoint");
        insertDynamicPoint.innerHTML = '';

        introMap.forEach(function (value, name) {
            var cln = itm.cloneNode(true);

            cln.innerHTML = "<li><h4>Part "+value+"</h4>" +
                            "    "+name +
                            "</li><br/>"
            insertDynamicPoint.appendChild(cln);
        });

        //Replace all common variables in intro element.
        replaceCommonVariablesInElement(insertDynamicPoint);
    }

</script>