<script>

    function headers_SINGLE_D1() {
        var headerData = new Map();
        var introMap = new Map();

        // Define headers for questions.
        var posY = 3;
        headerData.set("benefits-and-income", 1);
        headerData.set("household-income", 2);

        introMap.set(replaceStringKeysWithValues("Your income and benefits between [DATE_A] and [DATE_B]", posY), 1);
        introMap.set(replaceStringKeysWithValues("Other household income, such as income from property between [DATE_A] and [DATE_B]", posY), 2);
        introMap.set("Report any changes to circumstances", 3);

        updateHeaders(posY, headerData, introMap);
    }

    function headers_JOINT_D1() {
        var headerData = new Map();
        var introMap = new Map();

        // Define headers for questions.
        var posY = 4;
        headerData.set("benefits-and-income", 1);
        headerData.set("partner", 2);
        headerData.set("household-income", 3);

        introMap.set(replaceStringKeysWithValues("Your income and benefits between [DATE_A] and [DATE_B]", posY), 1);
        introMap.set(replaceStringKeysWithValues("Your partner’s income and benefits between [DATE_A] and [DATE_B]",posY), 2);
        introMap.set(replaceStringKeysWithValues("Other household income, such as income from property between [DATE_A] and [DATE_B]", posY), 3);
        introMap.set(replaceStringKeysWithValues("Report any changes to circumstances", posY), 4);

        updateHeaders(posY, headerData, introMap);
    }

    function headers_SINGLE_D2() {
        var headerData = new Map();
        var introMap = new Map();

        // Define headers for questions.
        var posY = 5;
        headerData.set("benefits-and-income"+PREVIOUS_YEAR_MINUS_1, 1);
        headerData.set("household-income"+PREVIOUS_YEAR_MINUS_1, 2);
        headerData.set("benefits-and-income", 3);
        headerData.set("household-income", 4);

        introMap.set(replaceStringKeysWithValues("Your income and benefits between [DATE_A_PY_1] and [DATE_B_PY_1]", posY), 1);
        introMap.set(replaceStringKeysWithValues("Other household income, such as income from property between [DATE_A_PY_1] and [DATE_B_PY_1]", posY), 2);
        // MULTI OR SINGLE! true/false
        introMap.set(replaceStringKeysWithValues("Your income and benefits between [DATE_A] and [DATE_B]", posY), 3);
        introMap.set(replaceStringKeysWithValues("Other household income, such as income from property between [DATE_A] and [DATE_B]", posY), 4);
        introMap.set(replaceStringKeysWithValues("Report any changes to circumstances", posY), 5);

        updateHeaders(posY, headerData, introMap);
    }

    function headers_JOINT_D2() {
        var headerData = new Map();
        var introMap = new Map();

        var posY = 7;
        headerData.set("benefits-and-income"+PREVIOUS_YEAR_MINUS_1, 1);
        headerData.set("partner"+PREVIOUS_YEAR_MINUS_1, 2);
        headerData.set("household-income"+PREVIOUS_YEAR_MINUS_1, 3);
        headerData.set("benefits-and-income", 4);
        headerData.set("partner", 5);
        headerData.set("household-income", 6);

        introMap.set(replaceStringKeysWithValues("Your income and benefits between [DATE_A_PY_1] and [DATE_B_PY_1]", posY),1);
        introMap.set(replaceStringKeysWithValues("Your partner’s income and benefits between [DATE_A_PY_1] and [DATE_B_PY_1]", posY),2);
        introMap.set(replaceStringKeysWithValues("Other household income, such as income from property between [DATE_A_PY_1] and [DATE_B_PY_1]", posY),3);
        introMap.set(replaceStringKeysWithValues("Your income and benefits between [DATE_A] and [DATE_B]",posY),4);
        introMap.set(replaceStringKeysWithValues("Your partner’s income and benefits between [DATE_A] and [DATE_B]",posY),5);
        introMap.set(replaceStringKeysWithValues("Other household income, such as income from property between [DATE_A] and [DATE_B]",posY),6);
        introMap.set("Report any changes to circumstances",7);

        updateHeaders(posY, headerData, introMap);
    }

    function updateHeaders(posY, headerData, introMap) {

        function replaceXCounter(group, xvalue) {
            data().questions.forEach(function (question) {
                if (question.group !== undefined && question.group == group) {
                    question.question = question.question.replace("[REPLACE_X]", xvalue);
                }
            });
        }

        // Override template values in questions.
        data().questions.forEach(function (question) {
            question.question = replaceStringKeysWithValues(question.question, posY);
        });

        // Update REPLACE_X header with question Part numbers from headerData groups.
        headerData.forEach(function (value, name) {
            replaceXCounter(name, value);
        });

        // Define the renewal Parts the applicant will answer.
        var totalMessages = document.getElementById("completing-review-message-total");
        totalMessages.innerHTML = ''; // clear existing
        totalMessages.appendChild(document.createTextNode(''+posY));

        //Add a warning for D2 renewals
        if(getRenewalType() === JOINT_D2 || getRenewalType() === SINGLE_D2){
            var warning = document.getElementById("completingReviewWarningForD2");
            warning.style.display = "block";
        }

        var itm = document.getElementById("cloneForInsertPoint");
        var insertDynamicPoint = document.getElementById("dynamicInsertPoint");
        insertDynamicPoint.innerHTML = '';

        introMap.forEach(function (value, name) {
            var cln = itm.cloneNode(true);

            cln.innerHTML = "<li><h4>Part "+value+"</h4>" +
                            "    "+name +
                            "</li><br/>"
            insertDynamicPoint.appendChild(cln);
        });
    }

    function replaceStringKeysWithValues(inString, posY) {
        // Update the question headers with position info and dates.
        var endDate = map.get("endDate");
        var startDate = map.get("startDate");
        var endDate_PY_1 = map.get("endDate_PY_1");
        var startDate_PY_1 = map.get("startDate_PY_1");

        var update = inString.replace("[REPLACE_Y]", posY);
        update = update.replace("[DATE_A]", startDate);
        update = update.replace("[DATE_B]", endDate);
        update = update.replace("[DATE_A_PY_1]", startDate_PY_1);
        update = update.replace("[DATE_B_PY_1]", endDate_PY_1);
        return(update);
    }

</script>