
<script type="text/javascript">

    function resume(model) {
        map = new Map();
        stack = [];

        // Populate the model with the resumed data.
        var tokens = model.split(",");
            tokens.forEach(function (token) {
            var data = token.split(":");    // MAGIC!
            map.set(data[0],data[1]);
        });

        // Build the question stack.
        var stackData = map.get("stackDATA");
        if (stackData !== undefined) {
            var stackTokens = stackData.split("#"); // MAGIC!
            stackTokens.forEach(function (position) {
            stack.push(position);
        });
        }

        // Set the current question.
        questionPos = map.get("currentQuestionPos");

        // The JourneyComplete status is currently only used for the pack-not-received question. If the client resumes the application where the
        // last question was JourneyComplete, then rewind the question stack to land on question confirm-pack-receipt.
        var question = getQuestion(questionPos);
        if (question.questionType.type !== undefined && question.questionType.type == "JourneyComplete") {
            var stackQuestion = "";
            for (i = stackData.length; i >= 0; i--) {
                stackQuestion = stack.pop();
                if (stackQuestion ==  "confirm-pack-receipt") {
                    questionPos = stackQuestion;
                    break;
                }
            }
        }

        if (questionPos === undefined) {
            alert("Failed to resume the application since question is missing!");
        } else {
            toggleControls("hide");
            displayQuestion();
        }
    }

    function getModelData() {
        var dumpData = "";
        var first = true;
        var append = "";

        // Record the current question position.
        map.set("currentQuestionPos", questionPos);

        // Record the stack.
        var stackData="";
        // Build the stack.
        for (i = 0; i < stack.length; i++) {
            stackData = stackData + stack[i];
            if (i != stack.length-1) {
                stackData = stackData + "#";    // TODO...MAGIC CHARACTER!
            }
        }
        // Save the stack into the map.
        map.set("stackDATA", stackData);

        // De-serialize the map to a string.
        map.forEach(function (value, key) {
            if (first) {
                first=false;
                append="";
        } else {
            append=",";
        }
        dumpData = dumpData + append + key+":"+value;
        });

        // Android callback.
        try {
            HMRCAndroid.modelDataResult(JSON.stringify(dumpData));
            return;
        } catch(err) {}

        debugOut(dumpData, "dumpText");
        return(dumpData);
    }
</script>