<script>
  function initSummary() {
      populateYourBenefitsAndIncomeSection(1);
      populateYourPartnerBenefitsAndIncomeSection(2);
      populateOtherHouseholdIncomeSection(3);
      populateReportedChangesSection(4);

      toggleControls("hide");
      show("Summary");
  }

  function getAnswerForQuestion(questionId) {
      var question = getFromId(questionId);
      return map.get(question.questionType.modelId);
  }

  function buildListFromRadioAnswers(questionId) {
      var options = getFromId(questionId).questionType.multipleChoiceOptions;

      return options.reduce(function (acc, option) {
          var answer = map.get(option.modelId);

          if (answer === "true") {
              return acc + '<h5>' + option.option + '</h5>'
          } else {
              return acc
          }
      }, "");
  }

  function buildTableFromMultipleChoiceWithNumberAnswers(questionId) {
      var options = getFromId(questionId).questionType.multipleChoiceOptions;

      return options.reduce(function (acc, option) {
          var answer = map.get(option.modelId);

          if (typeof answer !== "undefined") {
              return acc + '<tr><td>' + option.option + '</td><td>' + Math.floor(parseFloat(answer)) + '</td></tr>'
          } else {
              return acc
          }
      }, "");
  }

  function sumMultipleChoiceWithNumberAnswers(questionId) {
      var options = getFromId(questionId).questionType.multipleChoiceOptions;

      var result = options.reduce(function (acc, option) {
          var answer = map.get(option.modelId);

          if (typeof answer !== "undefined") {
              return acc + parseFloat(answer)
          } else {
              return acc
          }
      }, 0);

      return Math.max(Math.floor(result), 0);
  }

</script>