<script>

  function buildListFromRadioAnswers(questionId) {
      var options = getQuestion(questionId).questionType.multipleChoiceOptions;
      var value = "";
      for (var index = 0; index < options.length; index++) {
          if(map.get(options[index].modelId) === "true"){
              value += '<h5>' + options[index].option + '</h5>';
          }
      }
      return value;
  }

  function buildTableFromMultipleChoiceWithNumberAnswers(questionId) {
      var options = getQuestion(questionId).questionType.multipleChoiceOptions;
      var value = "";
      for (var index = 0; index < options.length; index++) {
          if(isDefined(map.get(options[index].modelId))){
              value += '<tr><td>' + options[index].option + '</td><td>' + formatWithCommas(Math.floor(parseFloat(map.get(options[index].modelId)))) + '</td></tr>';
          }
      }
      return value;
  }

  function buildTableFromListOfNumericQuestions(questions) {
      var value = "";
      for(var index = 0; index < questions.length; index++) {
          var q = questions[index]
          if (isDefined(getAnswerForQuestion(q.id))) {
            value += '<tr><td>' + q.label + '</td><td>' + formatWithCommas(Math.floor(parseFloat(getAnswerForQuestion(q.id)))) + '</td></tr>';
          } else {
              value += '<tr><td>' + q.label + '</td><td>0</td></tr>';
          }
      }
      return value;
  }

  function sumMultipleChoiceWithNumberAnswers(questionId) {
      var options = getQuestion(questionId).questionType.multipleChoiceOptions;
      var result = 0;
      for(var index = 0; index < options.length; index++) {
          var answer = map.get(options[index].modelId);
          if (isDefined(answer)) {
              result += parseFloat(answer)
          }
      }
      return Math.max(Math.floor(result), 0);
  }

  function sumAnswersFromListOfQuestions(questions) {
      var result = 0;
      for(var index = 0; index < questions.length; index++) {
          var q = questions[index]
          if(isDefined(getAnswerForQuestion(q))){
              result += parseFloat(getAnswerForQuestion(q))
          }
      }
      return Math.max(Math.floor(result), 0);
  }

</script>