<script>
//Your Benefits And Income
function populateYourBenefitsAndIncomeSection(sectionNo, period) {
    showYourBenefitsAndIncomeSection(period);
    toggleYourUntaxedBenefitsSection (period);
    setYourBenefitsAndIncomeSectionHeader(sectionNo, period);
    setNoTaxBenefitPreHeader(period);
    setPreHeader('yourBenefitsAndIncome.otherIncomePreHeader', period, 'Your income from work between ');
    displayListOfUntaxedBenefitsOrAlert(period);
    displayNoLongerReceivingBenefitsAlert(period);
    displayTotalIncomeFromWork(period);
    populateTableOfOtherIncomes(period);
    toggleSelfEmploymentProfitOrLossEstimateAlert(period);
    setBenefitsPreHeader(period);
    displayTaxableBenefitsTableAndTotalOrAlert(period);
}

function showYourBenefitsAndIncomeSection(period) {
    document.getElementById('yourBenefitsAndIncome' + period).style.display = "block";
}

function toggleYourUntaxedBenefitsSection (period) {
    if (period !== "_PY_1" && (getRenewalType() === SINGLE_D1 || getRenewalType() === JOINT_D1 || getRenewalType() === AUTO_RENEWAL)) {
        document.getElementById('yourBenefitsAndIncome.unTaxedBenefitsSection').style.display = "block";
    } else {
        document.getElementById('yourBenefitsAndIncome.unTaxedBenefitsSection').style.display = "none";
    }
}

function setNoTaxBenefitPreHeader(period) {
    if (period !== "_PY_1") {
        setPreHeader('yourBenefitsAndIncome.noTaxBenefitHeader', period, 'Benefits you do not pay tax on between ')
    }
}

function setYourBenefitsAndIncomeSectionHeader(sectionNo, period) {
    document.getElementById('yourBenefitsAndIncome.header' + period).innerHTML = "Part " + sectionNo + ": Your benefits and income"
}

function displayListOfUntaxedBenefitsOrAlert(period) {
    if (period !== "_PY_1") {
        var answer = getAnswerForQuestion('Did you get any untaxed benefits');

        if (answer === "true") {
            document.getElementById('yourBenefitsAndIncome.untaxedBenefitsListHeader').style.display = "block";
            document.getElementById('yourBenefitsAndIncome.untaxedBenefitsList').style.display = "block";

            document.getElementById('yourBenefitsAndIncome.untaxedBenefitsList').innerHTML = buildListFromRadioAnswers('Which untaxed benefit did you get');

            document.getElementById('yourBenefitsAndIncome.didNotClaimAlert').style.display = "none";
            document.getElementById('yourBenefitsAndIncome.whichNoTaxBenefits').style.display = "none";
        } else {
            document.getElementById('yourBenefitsAndIncome.untaxedBenefitsListHeader').style.display = "none";
            document.getElementById('yourBenefitsAndIncome.untaxedBenefitsList').style.display = "none";

            document.getElementById('yourBenefitsAndIncome.didNotClaimAlert').style.display = "block";
            document.getElementById('yourBenefitsAndIncome.whichNoTaxBenefits').style.display = "block";
        }
    }
}

function displayNoLongerReceivingBenefitsAlert(period) {
    if (period !== "_PY_1") {
        var answer = getAnswerForQuestion('Do you still get this benefit');

        if (answer === "false") {
            document.getElementById('yourBenefitsAndIncome.noLongerReceivingUntaxedBenefitsAlert').style.display = "block";
        } else {
            document.getElementById('yourBenefitsAndIncome.noLongerReceivingUntaxedBenefitsAlert').style.display = "none";
        }
    }
}

function displayTotalIncomeFromWork(period) {
    var total = sumAnswersFromListOfQuestions(['How much employed income' + period,
        'How much company benefit' + period,
        'How much profit from self-employment' + period]);

    document.getElementById('yourBenefitsAndIncome.otherIncomeTotal' + period).innerHTML = '&pound;' + formatWithCommas(total);
}

function populateTableOfOtherIncomes(period) {
    var questions = [{
        id: 'How much employed income' + period, label: 'Earnings from employment'
    }, {
        id: 'How much company benefit' + period, label: 'Company benefits'
    }, {
        id: 'How much profit from self-employment' + period, label: 'Profit from self-employment'
    }];

    document.getElementById('yourBenefitsAndIncome.otherIncomeTableBody' + period).innerHTML = buildTableFromListOfNumericQuestions(questions);
}

function toggleSelfEmploymentProfitOrLossEstimateAlert(period) {
    if (period !== "_PY_1") {
        var profitEstimated = getAnswerForQuestion('Is the self-employed profit estimated');
        var lossEstimated = getAnswerForQuestion('Is the self-employed loss estimated');

        document.getElementById('yourBenefitsAndIncome.isSelfEmploymentProfitEstimatedAlert').style.display = "none";
        document.getElementById('yourBenefitsAndIncome.isSelfEmploymentLossEstimatedAlert').style.display = "none";

        if(profitEstimated === 'true'){
            document.getElementById('yourBenefitsAndIncome.isSelfEmploymentProfitEstimatedAlert').style.display = "block";
        }

        if(lossEstimated === 'true'){
            document.getElementById('yourBenefitsAndIncome.isSelfEmploymentLossEstimatedAlert').style.display = "block";
        }
    }
}

function setBenefitsPreHeader(period) {
    document.getElementById('yourBenefitsAndIncome.benefitsPreHeader' + period).innerHTML = "Benefits you pay tax on between " + map.get("startDate" + period) + " and " + map.get("endDate" + period)
}

function displayTaxableBenefitsTableAndTotalOrAlert(period) {
    var answer = getAnswerForQuestion('Did you get any taxable benefits' + period);

    if (answer === "true") {
        document.getElementById('yourBenefitsAndIncome.taxableBenefitsTotalLabel' + period).style.display = "block";
        document.getElementById('yourBenefitsAndIncome.taxableBenefitsTotal' + period).style.display = "block";
        document.getElementById('yourBenefitsAndIncome.taxableBenefitsTotal' + period).innerHTML = "&pound;" + formatWithCommas(sumMultipleChoiceWithNumberAnswers('Select taxable benefits and enter amount' + period));

        document.getElementById('yourBenefitsAndIncome.taxableBenefitsRoundingAlert' + period).style.display = "block";
        document.getElementById('yourBenefitsAndIncome.taxableBenefitsNoBenefitsAlert' + period).style.display = "none";

        document.getElementById('yourBenefitsAndIncome.taxableBenefitsTable' + period).style.display = "";
        document.getElementById('yourBenefitsAndIncome.taxableBenefitsTableBody' + period).innerHTML = buildTableFromMultipleChoiceWithNumberAnswers('Select taxable benefits and enter amount' + period);
    } else {
        document.getElementById('yourBenefitsAndIncome.taxableBenefitsTotalLabel' + period).style.display = "none";
        document.getElementById('yourBenefitsAndIncome.taxableBenefitsTotal' + period).style.display = "none";

        document.getElementById('yourBenefitsAndIncome.taxableBenefitsRoundingAlert' + period).style.display = "none";
        document.getElementById('yourBenefitsAndIncome.taxableBenefitsNoBenefitsAlert' + period).style.display = "block";

        document.getElementById('yourBenefitsAndIncome.taxableBenefitsTable' + period).style.display = "none";
    }
}

</script>