<script>

    var taxableBenefitsModelIds = ["taxableBenefits.bereavement_allowance",
        "taxableBenefits.carer_allowance",
        "taxableBenefits.contribution_based_jobseeker_allowance",
        "taxableBenefits.contribution_based_employment_and_support_allowance",
        "taxableBenefits.incapacity_benefit"];

    var incomeDetailsAreEstimatedModelIds = [
        "incomeDetails.self_employed_profit_is_estimated",
        "incomeDetails.self_employed_loss_is_estimated"];

    var otherIncomesAreEstimatedModelIds = ["otherIncome.rental_profit_is_estimated",
        "otherIncome.rental_loss_is_estimated",
        "otherIncome.isOtherHouseholdIncomeEst"];

    var otherHouseholdIncomeModelIds = ["otherIncome.saving_investment_dividend",
        "otherIncome.pensions", "otherIncome.trusts_settlements_or_estates",
        "otherIncome.foreign_income", "otherIncome.notional_income",
        "otherIncome.profit_from_property"];

    function getMapBooleanValue(modelId) {
        var mapValue = map.get(modelId);
        var rtn = false;

        if (isDefined(mapValue)) {
            if (mapValue === 'true') {
                rtn = true;
            }
        }
        return (rtn);
    }

    function isDefined(variable) {
        return typeof variable !== 'undefined'
    }

    function getMapIntValue(key) {
        var value = map.get(key);
        return isDefined(value) ? Math.floor(parseFloat(value)) : 0;
    }

    function getRenewalType() {
        return map.get("renewalType").toUpperCase();
    }

    function buildTotal() {
        function accumulate(total, num) {
            return total + num;
        }

        return [].slice.call(arguments[0]).map(getMapIntValue).reduce(accumulate);
    }

    function estimatedSeProfits() {
        return incomeDetailsAreEstimatedModelIds.some(getMapBooleanValue);
    }

    function estimatedOtherIncome() {
        return otherIncomesAreEstimatedModelIds.some(getMapBooleanValue);
    }

    function isEstimatedIncome() {
        return estimatedOtherIncome() || estimatedSeProfits();
    }


    function addIfNonZero(obj, k, v) {
        if (v !== 0) addProperty(obj, k, v);
    }

    function addProperty(obj, k, v) {
        if (isDefined(k)) {
            obj[k] = v;
        }
    }


    function isPreviousYearMinus1(previousYear) {
        return isDefined(previousYear) && previousYear === PREVIOUS_YEAR_MINUS_1;
    }

    function buildSubmissionPostRequest() {

        var taxableBenefits = 0;
        var nino = map.get("nino");

        function previousYearModelIds(modelIds) {
            return modelIds.map(id => id + PREVIOUS_YEAR_MINUS_1);
        }

        function previousYearModelId(modelId) {
            return modelId + PREVIOUS_YEAR_MINUS_1;
        }

        function getIncomeDetailsJson(earningsKey, companyBenefitsKey, seProfitsKey, benefitsModelIds, areEstimatedModelIds) {
            var json = {};

            var benefits = buildTotal(benefitsModelIds);
            var earnings = getMapIntValue(earningsKey);
            var companyBenefits = getMapIntValue(companyBenefitsKey);
            var seProfits = getMapIntValue(seProfitsKey);

            if (benefits + earnings + companyBenefits > 0) {
                addIfNonZero(json, "taxableBenefits", benefits);
                addIfNonZero(json, "earnings", earnings);
                addIfNonZero(json, "companyBenefits", companyBenefits);
            }

            if (seProfits > 0) {
                addProperty(json, "seProfits", seProfits);
                addProperty(json, "seProfitsEstimated", areEstimatedModelIds.some(getMapBooleanValue));
            }

            return json;
        }

        function getCertainBenefitsJson() {
            var json = {};
            var receivingBenefits = getMapBooleanValue("certainBenefits.receivedBenefits");
            if (receivingBenefits) {
                addProperty(json, "receivedBenefits", receivingBenefits);
                addProperty(json, "incomeSupport", getMapBooleanValue("certainBenefits.incomeSupport"));
                addProperty(json, "jsa", getMapBooleanValue("certainBenefits.jsa"));
                addProperty(json, "esa", getMapBooleanValue("certainBenefits.esa"));
                addProperty(json, "pensionCredit", getMapBooleanValue("certainBenefits.pensionCredit"));
            } else {
                addProperty(json, "receivedBenefits", false);
                addProperty(json, "incomeSupport", false);
                addProperty(json, "jsa", false);
                addProperty(json, "esa", false);
                addProperty(json, "pensionCredit", false);
            }
            return json;
        }

        function getOtherIncomeJson(otherIncomeIds, otherIncomeEstimatedIds) {
            var otherIncomeTotal = buildTotal(otherIncomeIds);
            if (otherIncomeTotal > 0) {
                return {
                    otherHouseholdIncome: buildTotal(otherIncomeIds),
                    isOtherHouseholdIncomeEst: otherIncomeEstimatedIds.some(getMapBooleanValue)
                };
            } else {
                return {};
            }
        }

        var submission = {
            renewalData: {
                incomeDetails: getIncomeDetailsJson(
                        "incomeDetails.earnings",
                        "incomeDetails.companyBenefits",
                        "incomeDetails.seProfits",
                        taxableBenefitsModelIds,
                        incomeDetailsAreEstimatedModelIds),
                certainBenefits: getCertainBenefitsJson()
            },
            otherIncome: getOtherIncomeJson(otherHouseholdIncomeModelIds, otherIncomesAreEstimatedModelIds),
            hasChangeOfCircs: getMapBooleanValue("hasChangeOfCircs"),
        };

        if (getRenewalType() === SINGLE_D2) {
            submission.renewalData.incomeDetailsPY1 = getIncomeDetailsJson(
                    previousYearModelId("incomeDetails.earnings"),
                    previousYearModelId("incomeDetails.companyBenefits"),
                    previousYearModelId("incomeDetails.seProfits"),
                    previousYearModelIds(taxableBenefitsModelIds),
                    previousYearModelIds(incomeDetailsAreEstimatedModelIds));

            submission.otherIncomePY1 = getOtherIncomeJson(previousYearModelIds(otherHouseholdIncomeModelIds),
                    previousYearModelIds(otherIncomesAreEstimatedModelIds));
        }

        // Android callback.
        try {
            HMRCAndroid.submissionPostRequestResult(JSON.stringify(submission));
            return;
        } catch (err) {
        }

        return (JSON.stringify(submission));
    }
</script>