<script>

// Reported changes
function populateReportedChangesSection(sectionNo) {
    setReportedChangesSectionHeader(sectionNo);
    displayChangesOrNoChangesWarning();
}

function setReportedChangesSectionHeader(sectionNo) {
    document.getElementById('reportedChanges.header').innerHTML = "Part " + sectionNo + ": Reported changes";
}

function displayChangesOrNoChangesWarning() {
    var answer = getChangeOfCircumstanceDecision();

    if (answer) {
        document.getElementById('reportedChanges.noChangesWarning').style.display = "none";
        document.getElementById('reportedChanges.someChangesWarning').style.display = "block";
    } else {
        document.getElementById('reportedChanges.noChangesWarning').style.display = "block";
        document.getElementById('reportedChanges.someChangesWarning').style.display = "none";
    }
}

function getChangeOfCircumstanceDecision() {
    var answer = getAnswerForModelId('hasChangeOfCircs');
    var isChangeOfCircs = false;
    if (answer !== undefined) {
        isChangeOfCircs = answer.trim() === "true";
    }
    return isChangeOfCircs;
}

// Declaration
function populateDeclarationSection() {
    displayShareDetailsWithPartnerWarning()
}

function displayShareDetailsWithPartnerWarning() {
    var answer = getAnswerForModelId('renewalType');

    if (answer === "JOINT_D1" || answer === "JOINT_D2") {
        document.getElementById('declaration.shareDetailsWithPartnerWarning').style.display = "block";
    }
}

</script>