<script>

function initSummary() {
    var renewalType = getAnswerForModelId("renewalType");

        if (renewalType == SINGLE_D1 || renewalType == AUTO_RENEWAL) {
            initSingleD1Summary();
        } else if (renewalType == SINGLE_D2) {
            initSingleD2Summary();
        } else if (renewalType == JOINT_D1) {
            initJointD1Summary();
        } else {
            initJointD2Summary();
        }


        //Get all headers that need to be sticky
        var headerList = document.getElementsByClassName('sticky-header');

        //Calling the function with the array of headers
        stickyHeaders(headerList);
        window.addEventListener('deviceorientation', function() {
            stickyHeaders(headerList)
        });

    }

function initSingleD1Summary() {
    populateYourBenefitsAndIncomeSection(1, "");
    populateOtherHouseholdIncomeSection(2, "");
    populateReportedChangesSection(3, "");
    toggleControls("hide");
    show("Summary");
}

function initSingleD2Summary() {
    populateYourBenefitsAndIncomeSection(1, "_PY_1")
    populateOtherHouseholdIncomeSection(2, "_PY_1")
    populateYourBenefitsAndIncomeSection(3, "")
    populateOtherHouseholdIncomeSection(4, "")
    populateReportedChangesSection(5)
    toggleControls("hide");
    show("Summary");
}

function initJointD1Summary() {
    populateYourBenefitsAndIncomeSection(1, "");
    populateYourPartnerBenefitsAndIncomeSection(2, "");
    populateOtherHouseholdIncomeSection(3, "");
    populateReportedChangesSection(4)
    populateDeclarationSection();
    toggleControls("hide");
    show("Summary");
}

function initJointD2Summary() {
    populateYourBenefitsAndIncomeSection(1, "_PY_1");
    populateYourPartnerBenefitsAndIncomeSection(2, "_PY_1");
    populateOtherHouseholdIncomeSection(3, "_PY_1")
    populateYourBenefitsAndIncomeSection(4, "");
    populateYourPartnerBenefitsAndIncomeSection(5, "");
    populateOtherHouseholdIncomeSection(6, "")
    populateReportedChangesSection(7)
    populateDeclarationSection();
    toggleControls("hide");
    show("Summary");
}

function changeIncome(period) {
    var question = getQuestion("Were you employed" + period);
    routeToQuestion(question)
}

function changeTaxableBenefits(period) {
    var question = getQuestion("Did you get any taxable benefits" + period);
    routeToQuestion(question)
}

function changePartnerIncome(period) {
    var question = getQuestion("Was partner employed?" + period);
    routeToQuestion(question)
}

function changePartnerBenefits(period) {
    var question = getQuestion("Did partner get any taxable benefits?" + period);
    routeToQuestion(question)
}

function changeHouseholdIncome(period) {
    var question = getQuestion("Did you get any other household income" + period);
    routeToQuestion(question)
}

function changeUnTaxedBenefits() {
    var question = getQuestion("Did you get any untaxed benefits");
    routeToQuestion(question)
}

function changePersonalCircumstances() {
    var question = getQuestion("Report any changes");
    routeToQuestion(question)
}

function routeToQuestion(question) {
    questionPos = question.id;
    var questionIndex = stack.indexOf(questionPos)
    for (var index = stack.length - 1; index >= questionIndex; index--) {
        stack.pop();
    }
    toggleControls("hide");
    displayQuestion();
}

//Runs sticky headers functionality on summary page only
    function stickyHeaders(headerArray) {

        var offsets = [];
        var headerSpacing = document.getElementById('page-header').offsetHeight;
        var mainElement = document.getElementById('mainCont');

        for (var i = 0; i <= headerArray.length - 1; i++) {
            offsets[i] = headerArray[i].offsetTop - headerSpacing;
            //console.log('Header' + headerArray[i].innerText + ' y offset is ' + offsets[i])
        }

        window.onscroll = function () {

            var winOffset = window.pageYOffset;

            if (winOffset <= 87) {
                mainElement.style.paddingTop = 0;
            }

            for (var i = 0; i <= headerArray.length - 1; i++) {
                if (winOffset >= offsets[i] && winOffset <= offsets[i+1]) {
                    headerArray[i].classList.add('sticky');
                    mainElement.style.paddingTop = headerArray[i].offsetHeight;
                } else {
                    headerArray[i].classList.remove('sticky');
                }
            }
        }

    }





</script>