<script>

    var taxableBenefitsModelIds = ["taxableBenefits.bereavement_allowance",
        "taxableBenefits.carer_allowance",
        "taxableBenefits.contribution_based_jobseeker_allowance",
        "taxableBenefits.contribution_based_employment_and_support_allowance",
        "taxableBenefits.incapacity_benefit"];

    var incomeDetailsAreEstimatedModelIds = [
        "incomeDetails.self_employed_profit_is_estimated",
        "incomeDetails.self_employed_loss_is_estimated"];

    var otherIncomesAreEstimatedModelIds = ["otherIncome.rental_profit_is_estimated",
        "otherIncome.rental_loss_is_estimated",
        "otherIncome.isOtherHouseholdIncomeEst"];

    var otherHouseholdIncomeModelIds = ["otherIncome.saving_investment_dividend",
        "otherIncome.pensions", "otherIncome.trusts_settlements_or_estates",
        "otherIncome.foreign_income", "otherIncome.notional_income",
        "otherIncome.profit_from_property"];

    function getMapBooleanValue(modelId) {
        var mapValue = map.get(modelId);
        var rtn = false;

        if (mapValue !== undefined) {
            if (mapValue == 'true') {
                rtn = true;
            }
        }
        return(rtn);
    }

    function getMapIntValue(key) {
        var value = map.get(key);
        return typeof value !== 'undefined' ? Math.floor(parseFloat(value)) : 0;
    }

    function buildTotal() {
        function accumulate(total, num) { return total + num;}
        return [].slice.call(arguments[0]).map(getMapIntValue).reduce(accumulate);
    }

    function estimatedSeProfits() {
        return incomeDetailsAreEstimatedModelIds.some(getMapBooleanValue);
    }

    function estimatedOtherIncome() { // TODO: check if this is ok for JOINT  or PY1 routes
        return otherIncomesAreEstimatedModelIds.some(getMapBooleanValue);
    }

    function isEstimatedIncome() {
        return estimatedOtherIncome() || estimatedSeProfits();
    }


    function addIfNonZero(obj, k, v){
        if (v !== 0) addProperty(obj, k, v);
    }

    function addProperty(obj, k, v){
        if (typeof k !== 'undefined') {obj[k] = v;}
    }

    function currentYear(k) {return k;}
    function previousYear(k) {return k+PREVIOUS_YEAR_MINUS_1;}
    function joint(k) {return "partner."+k;}
    function jointPreviousYear(k) {return "partner."+k+PREVIOUS_YEAR_MINUS_1;}

    function getRenewalType(){
        return renewalType !== undefined && renewalType.toUpperCase();
    }

    function buildSubmissionPostRequest() {

        var taxableBenefits = 0;
        var nino = map.get("nino");

        function getIncomeDetailsJson(keyFor) {
            var json = {};

            var earningsKey = keyFor("incomeDetails.earnings");
            var companyBenefitsKey = keyFor("incomeDetails.companyBenefits");
            var seProfitsKey = keyFor("incomeDetails.seProfits");
            var benefitsModelIds = taxableBenefitsModelIds.map(id => keyFor(id));
            var areEstimatedModelIds = incomeDetailsAreEstimatedModelIds.map(id => keyFor(id));

            var benefits = buildTotal(benefitsModelIds);
            var earnings = getMapIntValue(earningsKey);
            var companyBenefits = getMapIntValue(companyBenefitsKey);
            var seProfits = getMapIntValue(seProfitsKey);

            if(benefits + earnings + companyBenefits > 0) {
                addIfNonZero(json, "taxableBenefits", benefits);
                addIfNonZero(json, "earnings", earnings);
                addIfNonZero(json, "companyBenefits", companyBenefits);
            }

            if(seProfits > 0) {
                addProperty(json, "seProfits", seProfits);
                addProperty(json, "seProfitsEstimated", areEstimatedModelIds.some(getMapBooleanValue));
            }

            return json;
        }

        function getCertainBenefitsJson(keyFor) {
            var json = {};
            var receivingBenefits = getMapBooleanValue(keyFor("certainBenefits.receivedBenefits"));
            if(receivingBenefits) {
                addProperty(json, "receivedBenefits", receivingBenefits);
                addProperty(json, "incomeSupport", getMapBooleanValue(keyFor("certainBenefits.incomeSupport")));
                addProperty(json, "jsa", getMapBooleanValue(keyFor("certainBenefits.jsa")));
                addProperty(json, "esa", getMapBooleanValue(keyFor("certainBenefits.esa")));
                addProperty(json, "pensionCredit", getMapBooleanValue(keyFor("certainBenefits.pensionCredit")));
            } else {
                addProperty(json, "receivedBenefits", false);
                addProperty(json, "incomeSupport", false);
                addProperty(json, "jsa", false);
                addProperty(json, "esa", false);
                addProperty(json, "pensionCredit", false);
            }
            return json;
        }

        function getOtherIncomeJson(keyFor) {
            var json = {};

            var isPreviousYear = keyFor("") === PREVIOUS_YEAR_MINUS_1;
            var modelIds = otherHouseholdIncomeModelIds.map(id => keyFor(id));
            var otherHouseholdIncome = buildTotal(modelIds);
            if(otherHouseholdIncome > 0) {
                addIfNonZero(json, "otherHouseholdIncome", otherHouseholdIncome);
                addProperty(json, "isOtherHouseholdIncomeEst", isPreviousYear ? false : estimatedOtherIncome());
            }
            return json;
        }


        var renewalType = map.get("renewalType");
        var submission = {};
        var renewalDataJson = {};

        renewalDataJson.incomeDetails = getIncomeDetailsJson(currentYear);
        renewalDataJson.certainBenefits = getCertainBenefitsJson(currentYear);
        submission.hasChangeOfCircs = getMapBooleanValue("hasChangeOfCircs");
        submission.otherIncome = getOtherIncomeJson(currentYear);

        if(getRenewalType() === SINGLE_D2) {
            submission.otherIncomePY1 = getOtherIncomeJson(previousYear);
            renewalDataJson.incomeDetailsPY1 = getIncomeDetailsJson(previousYear)
        }

        if(getRenewalType() === JOINT_D1 || getRenewalType() === JOINT_D2) {

            renewalDataJson.applicant2Data = {};
            renewalDataJson.applicant2Data.incomeDetails = getIncomeDetailsJson(joint);
            renewalDataJson.applicant2Data.certainBenefits = getCertainBenefitsJson(joint);

            if(getRenewalType() === JOINT_D2) {
                submission.applicant2Data.otherIncomePY1 = getOtherIncomeJson(jointPreviousYear);
                renewalDataJson.applicant2Data.incomeDetailsPY1 = getIncomeDetailsJson(jointPreviousYear)
            }
        }

        submission.renewalData = renewalDataJson;

        // Android callback.
        try {
            HMRCAndroid.submissionPostRequestResult(JSON.stringify(submission));
            return;
        } catch(err) {}

        return(JSON.stringify(submission));
    }
</script>