<script>
//Your Benefits And Income
function populateYourBenefitsAndIncomeSection(sectionNo, period) {
    setYourBenefitsAndIncomeSectionHeader(sectionNo, period);

    if(period !== "_PY_1") {
        populateTableOfUntaxedBenefits();
        displayUntaxedBenefitsAlert();
    }
//    displayNoLongerReceivingBenefitsAlert(period);
    displayTotalIncomeAndTableOfIncomeFromWork(period);
//    populateTableOfOtherIncomes(period);

//    displaySelfEmploymentProfitLossInfoAlert(period)
//    displayTotalTaxableBenefits();
//    displayTaxableBenefitsInfoOrAlert();
//    populateTableTaxableBenefits();
}


function setYourBenefitsAndIncomeSectionHeader(sectionNo, period) {
    document.getElementById('yourBenefitsAndIncome.header' + period).innerHTML = "Part " + sectionNo + ": Your benefits and income"
}

function populateTableOfUntaxedBenefits() {
    document.getElementById('yourBenefitsAndIncome.typeOfBenefitsList').innerHTML = buildListFromRadioAnswers('Which untaxed benefit did you get');
}

function displayUntaxedBenefitsAlert() {
    var answer = getAnswerForQuestion('Did you get any untaxed benefits');

    if (answer === "false") {
        document.getElementById('yourBenefitsAndIncome.didNotClaimAlert').style.display = "block";
    }
}

function displayNoLongerReceivingBenefitsAlert() {
    var answer = getAnswerForQuestion('Do you still get this benefit');

    if (answer === "false") {
        document.getElementById('yourBenefitsAndIncome.noLongerReceivingBenefitsAlert').style.display = "block";
    }
}

function displayTotalIncomeAndTableOfIncomeFromWork(period) {
    var sum = 0;
    var html = '';
    if(getAnswerForQuestion('Were you employed' + period) === "true") {
        var answer = Math.floor(parseFloat(getAnswerForQuestion('How much employed income' + period)));
        sum = sum + answer;
        html = html + '<tr><td>' + 'Earnings from employment' + '</td><td>' + answer + '</td></tr>';
        if(getAnswerForQuestion('Did you get any company benefits' + period) === "true") {
            answer = Math.floor(parseFloat(getAnswerForQuestion('How much company benefit' + period)));
            sum = sum + answer;
            html = html + '<tr><td>' + 'Company benefits' + '</td><td>' + answer + '</td></tr>';
        }
        if(getAnswerForQuestion('Were you self employed' + period) === "true" && getAnswerForQuestion('Did you make a profit from self-employment' + period) === "true") {
            answer = Math.floor(parseFloat(getAnswerForQuestion('How much profit from self-employment' + period)));
            sum = sum + answer;
            html = html + '<tr><td>' + 'Profit from self-employment' + '</td><td>' + answer + '</td></tr>';
        }
    }
    document.getElementById('yourBenefitsAndIncome.otherIncomeTotal' + period).innerHTML = "£" + sum;
    document.getElementById('yourBenefitsAndIncome.otherIncomeTable' + period).innerHTML = html;
}


function displayTotalTaxableBenefits() {
    document.getElementById('yourBenefitsAndIncome.taxableBenefits').innerHTML = "£" + sumMultipleChoiceWithNumberAnswers('Select taxable benefits and enter amount');
}

function displayTaxableBenefitsInfoOrAlert() {
    var answer = getAnswerForQuestion('Did you get any taxable benefits');

    if (answer === "true") {
        document.getElementById('yourBenefitsAndIncome.taxableBenefitsInfo').style.display = "block";
        document.getElementById('yourBenefitsAndIncome.taxableBenefitsWarn').style.display = "none";
    } else {
        document.getElementById('yourBenefitsAndIncome.taxableBenefitsInfo').style.display = "none";
        document.getElementById('yourBenefitsAndIncome.taxableBenefitsWarn').style.display = "block";
    }
}

function populateTableTaxableBenefits() {
    document.getElementById('yourBenefitsAndIncome.taxableBenefitsTable').innerHTML = buildTableFromMultipleChoiceWithNumberAnswers('Select taxable benefits and enter amount');
}


//Self Employment

function displaySelfEmploymentProfitLossInfoAlert(period) {

    if(getAnswerForQuestion('Is the self-employed profit estimated' + period) === "true") {
        document.getElementById('yourBenefitsAndIncome.selfEmploymentProfitLossInfoAlert' + period).style.display = "block";
        document.getElementById('yourBenefitsAndIncome.selfEmploymentProfitLossInfoAlert' + period).innerHTML = 'You said your profit from self-employment is an estimate. You must contact us before 31 January 2018 and tell us how much profit you actually made.';
    }
    else if(getAnswerForQuestion('Is the self-employed loss estimated' + period) === "true") {
        document.getElementById('yourBenefitsAndIncome.selfEmploymentProfitLossInfoAlert' + period).style.display = "block";
        document.getElementById('yourBenefitsAndIncome.selfEmploymentProfitLossInfoAlert' + period).innerHTML = 'You said your loss from self-employment is an estimate. You must contact us before 31 January 2018 and tell us if you actually made a profit.';
    }
}


//Other Household Income

function populateOtherHouseholdIncomeSection(sectionNo) {
    setOtherHouseholdIncomeSectionHeader(sectionNo);
    displayOtherHouseholdIncomeTotal();
    displayOtherHouseholdIncomeInfoOrAlert();
    populateTableOfOtherIncome();
    appendOtherIncomeAllowanceRow();
}

function setOtherHouseholdIncomeSectionHeader(sectionNo) {
    document.getElementById('otherHouseholdIncome.header').innerHTML = "Part " + sectionNo + ": Other household income";
}

function displayOtherHouseholdIncomeTotal() {
    var total = sumMultipleChoiceWithNumberAnswers('Select other income sources & enter amount');

    var answer = getAnswerForQuestion('Did you get any other household income');

    if (answer === "true") {
        total = Math.max(total - 300, 0)
    }

    document.getElementById('otherHouseholdIncome.total').innerHTML = "£" + total;
}

function displayOtherHouseholdIncomeInfoOrAlert() {
    var answer = getAnswerForQuestion('Did you get any other household income');

    if (answer === "true") {
        document.getElementById('otherHouseholdIncome.noOtherIncome').style.display = "none";
        document.getElementById('otherHouseholdIncome.roundDownWarn').style.display = "block";
    } else {
        document.getElementById('otherHouseholdIncome.noOtherIncome').style.display = "block";
        document.getElementById('otherHouseholdIncome.roundDownWarn').style.display = "none";
    }
}

function populateTableOfOtherIncome() {
    document.getElementById('otherHouseholdIncome.otherIncomeTable').innerHTML = buildTableFromMultipleChoiceWithNumberAnswers('Select other income sources & enter amount');
}

function appendOtherIncomeAllowanceRow() {
    var answer = getAnswerForQuestion('Did you get any other household income');

    if (answer === "true") {
        var innerHtml = document.getElementById('otherHouseholdIncome.otherIncomeTable').innerHTML;

        document.getElementById('otherHouseholdIncome.otherIncomeTable').innerHTML = innerHtml + '<tr><td>We deduct £300 as other income allowance</td><td>-300</td></tr>';
    }
}

// Reported changes

function populateReportedChangesSection(sectionNo) {
    setReportedChangesSectionHeader(sectionNo);
}

function setReportedChangesSectionHeader(sectionNo) {
    document.getElementById('reportedChanges.header').innerHTML = "Part " + sectionNo + ": Reported changes";
}

</script>