<script>

    var taxableBenefitsModelIds = [
        "taxableBenefits.bereavement_allowance",
        "taxableBenefits.carer_allowance",
        "taxableBenefits.contribution_based_jobseeker_allowance",
        "taxableBenefits.contribution_based_employment_and_support_allowance",
        "taxableBenefits.incapacity_benefit"];

    var incomeDetailsAreEstimatedModelIds = [
        "incomeDetails.self_employed_profit_is_estimated",
        "incomeDetails.self_employed_loss_is_estimated"];

    var otherIncomesAreEstimatedModelIds = ["otherIncome.rental_profit_is_estimated",
        "otherIncome.rental_loss_is_estimated",
        "otherIncome.isOtherHouseholdIncomeEst"];

    var otherHouseholdIncomeModelIds = ["otherIncome.saving_investment_dividend",
        "otherIncome.pensions", "otherIncome.trusts_settlements_or_estates",
        "otherIncome.foreign_income", "otherIncome.notional_income",
        "otherIncome.profit_from_property"];

    function estimatedSeProfits() {
        return incomeDetailsAreEstimatedModelIds.some(getMapBooleanValue);
    }

    function estimatedOtherIncome() {
        return otherIncomesAreEstimatedModelIds.some(getMapBooleanValue);
    }

    function isEstimatedIncome() {
        return estimatedOtherIncome() || estimatedSeProfits();
    }

    function appendPreviousYearSuffix(modelIds) {
        return modelIds.map(function (id) {
            return id + PREVIOUS_YEAR_MINUS_1
        });
    }

    function appendPartnerPrefix(modelIds) {
        return modelIds.map(function (id) {
            return 'partner.' + id
        });
    }

    function keyDefined(key, func) {
        if (isDefined(map.get(key))) func();
    }

    function keysDefined(keys, func) {
        var defined = false;
        var arrayLength = keys.length;
        for (var i = 0; i < arrayLength; i++) {
            if (isDefined(map.get(keys[i]))) {
                defined = true;
                break;
             }
        }

        if (defined) func();
    }

    function partial(func /*, 0..n args */) {
        var args = Array.prototype.slice.call(arguments, 1);
        return function() {
            var allArguments = args.concat(Array.prototype.slice.call(arguments));
            return func.apply(this, allArguments);
        };
    }

    function getIncomeDetailsJson(earningsKey, companyBenefitsKey, seProfitsKey, seProfitsCheck, benefitsModelIds, areEstimatedModelIds) {
        var json = {};

        var benefits = buildTotal(benefitsModelIds);
        var earnings = getMapIntValue(earningsKey);
        var companyBenefits = getMapIntValue(companyBenefitsKey);
        var seProfits = getMapIntValue(seProfitsKey);

        keysDefined(benefitsModelIds, partial(addProperty, json, "taxableBenefits", benefits));
        keyDefined(earningsKey, partial(addProperty, json, "earnings", earnings));
        keyDefined(companyBenefitsKey, partial(addProperty, json, "companyBenefits", companyBenefits));

        keyDefined(seProfitsCheck , partial(addProperty, json, "seProfits", seProfits));
        keyDefined(seProfitsCheck , partial(addProperty, json, "seProfitsEstimated", areEstimatedModelIds.some(getMapBooleanValue)));

        return json;
    }

    function getCertainBenefitsJson(recievedBenefitsKey, incomeSupportKey, jsaKey, esaKey, pensionCreditKey) {
        var json = {};
        var receivingBenefits = getMapBooleanValue(recievedBenefitsKey);

        if (receivingBenefits) {
            addProperty(json, "receivedBenefits", receivingBenefits);
            addProperty(json, "incomeSupport", getMapBooleanValue(incomeSupportKey));
            addProperty(json, "jsa", getMapBooleanValue(jsaKey));
            addProperty(json, "esa", getMapBooleanValue(esaKey));
            addProperty(json, "pensionCredit", getMapBooleanValue(pensionCreditKey));
        } else {
            addProperty(json, "receivedBenefits", false);
            addProperty(json, "incomeSupport", false);
            addProperty(json, "jsa", false);
            addProperty(json, "esa", false);
            addProperty(json, "pensionCredit", false);
        }

        return json;
    }

    function getOtherIncomeJson(otherIncomeIds, otherIncomeEstimatedIds, additionalCheck) {
        var otherIncomeTotal = buildTotal(otherIncomeIds);
        var json = {};

        var copyOtherIncomeIds = otherIncomeIds.slice();
        copyOtherIncomeIds.push(additionalCheck);

        keysDefined(copyOtherIncomeIds, partial(addProperty, json, "otherHouseholdIncome", otherIncomeTotal));
        keysDefined(copyOtherIncomeIds, partial(addProperty, json, "isOtherHouseholdIncomeEst", otherIncomeEstimatedIds.some(getMapBooleanValue)));
        return(json);
    }

    function buildSingleD1Submission() {
        return {
            renewalData: {

                incomeDetails: getIncomeDetailsJson(
                        "incomeDetails.earnings",
                        "incomeDetails.companyBenefits",
                        "incomeDetails.seProfits",
                        "incomeDetails.Did you make a profit from self-employment",
                        taxableBenefitsModelIds,
                        incomeDetailsAreEstimatedModelIds),
                certainBenefits: getCertainBenefitsJson(
                        "certainBenefits.receivedBenefits",
                        "certainBenefits.incomeSupport",
                        "certainBenefits.jsa",
                        "certainBenefits.esa",
                        "certainBenefits.pensionCredit"
                )
            },
            otherIncome: getOtherIncomeJson(otherHouseholdIncomeModelIds, otherIncomesAreEstimatedModelIds,
            "otherIncome.Did you make a profit from property rental"),
            hasChangeOfCircs: getMapBooleanValue("hasChangeOfCircs"),
        };
    }

    function addSingleD2Data(submission) {
        submission.renewalData.incomeDetailsPY1 = getIncomeDetailsJson(
                "incomeDetails.earnings_PY_1",
                "incomeDetails.companyBenefits_PY_1",
                "incomeDetails.seProfits_PY_1",
                "incomeDetails.Did you make a profit from self-employment" + PREVIOUS_YEAR_MINUS_1,
                appendPreviousYearSuffix(taxableBenefitsModelIds),
                appendPreviousYearSuffix(incomeDetailsAreEstimatedModelIds));

        submission.otherIncomePY1 = getOtherIncomeJson(appendPreviousYearSuffix(otherHouseholdIncomeModelIds),
                appendPreviousYearSuffix(otherIncomesAreEstimatedModelIds),
                "otherIncome.Did you make a profit from property rental" + PREVIOUS_YEAR_MINUS_1);

        return submission;
    }

    function addJointD1Data(submission) {
        submission.applicant2Data = {
            incomeDetails: getIncomeDetailsJson(
                    "partner.incomeDetails.earnings",
                    "partner.incomeDetails.companyBenefits",
                    "partner.incomeDetails.seProfits",
                    "partner.incomeDetails.Did partner make profit from self-employment?",
                    appendPartnerPrefix(taxableBenefitsModelIds),
                    appendPartnerPrefix(incomeDetailsAreEstimatedModelIds)),
            certainBenefits: getCertainBenefitsJson(
                    "partner.certainBenefits.receivedBenefits",
                    "partner.certainBenefits.incomeSupport",
                    "partner.certainBenefits.jsa",
                    "partner.certainBenefits.esa",
                    "partner.certainBenefits.pensionCredit"
            )
        };

        return submission;
    }

    function addJointD2Data(submission) {
        submission.applicant2Data.incomeDetailsPY1 = getIncomeDetailsJson(
                "partner.incomeDetails.earnings_PY_1",
                "partner.incomeDetails.companyBenefits_PY_1",
                "partner.incomeDetails.seProfits_PY_1",
                "partner.incomeDetails.Did partner make profit from self-employment?" + PREVIOUS_YEAR_MINUS_1,
                appendPreviousYearSuffix(appendPartnerPrefix(taxableBenefitsModelIds)),
                appendPreviousYearSuffix(appendPartnerPrefix(incomeDetailsAreEstimatedModelIds)));

        return submission;
    }

    function buildSubmission() {
        if (getRenewalType() === SINGLE_D1 || getRenewalType() === AUTO_RENEWAL) {
            return buildSingleD1Submission();
        } else if (getRenewalType() === SINGLE_D2) {
            return addSingleD2Data(buildSingleD1Submission());
        } else if (getRenewalType() === JOINT_D1) {
            return addJointD1Data(buildSingleD1Submission());
        } else if (getRenewalType() === JOINT_D2) {
            return addJointD2Data(addJointD1Data(addSingleD2Data(buildSingleD1Submission())));
        }
    }

    function buildSubmissionPostRequest() {
        var submission = buildSubmission();

        // Android callback.
        try {
            HMRCAndroid.submissionPostRequestResult(JSON.stringify(submission));
            return;
        } catch (err) {
        }

        return (JSON.stringify(submission));
    }
</script>