<script>
//Your Benefits And Income
function populateYourBenefitsAndIncomeSection(sectionNo) {
    setYourBenefitsAndIncomeSectionHeader(sectionNo);
    populateTableOfUntaxedBenefits();
    displayUntaxedBenefitsAlert();
    displayNoLongerReceivingBenefitsAlert();
    displayTotalIncomeFromWork();
    populateTableOfOtherIncomes();
    displayTotalTaxableBenefits();
    displayTaxableBenefitsInfoOrAlert();
    populateTableTaxableBenefits();
}


function setYourBenefitsAndIncomeSectionHeader(sectionNo) {
    document.getElementById('yourBenefitsAndIncome.header').innerHTML = "Part " + sectionNo + ": Your benefits and income"
}

function populateTableOfUntaxedBenefits() {
    document.getElementById('yourBenefitsAndIncome.typeOfBenefitsList').innerHTML = buildListFromRadioAnswers('Which untaxed benefit did you get');
}

function displayUntaxedBenefitsAlert() {
    var answer = getAnswerForQuestion('Did you get any untaxed benefits');

    if (answer === "false") {
        document.getElementById('yourBenefitsAndIncome.didNotClaimAlert').style.display = "block";
    }
}

function displayNoLongerReceivingBenefitsAlert() {
    var answer = getAnswerForQuestion('Do you still get this benefit');

    if (answer === "false") {
        document.getElementById('yourBenefitsAndIncome.noLongerReceivingBenefitsAlert').style.display = "block";
    }
}

function displayTotalIncomeFromWork() {
    document.getElementById('yourBenefitsAndIncome.otherIncomeTotal').innerHTML = "£" + sumMultipleChoiceWithNumberAnswers('Select other income sources & enter amount');
}

function populateTableOfOtherIncomes() {
    document.getElementById('yourBenefitsAndIncome.otherIncomeTable').innerHTML = buildTableFromMultipleChoiceWithNumberAnswers('Select other income sources & enter amount');
}

function displayTotalTaxableBenefits() {
    document.getElementById('yourBenefitsAndIncome.taxableBenefits').innerHTML = "£" + sumMultipleChoiceWithNumberAnswers('Select taxable benefits and enter amount');
}

function displayTaxableBenefitsInfoOrAlert() {
    var answer = getAnswerForQuestion('Did you get any taxable benefits');

    if (answer === "true") {
        document.getElementById('yourBenefitsAndIncome.taxableBenefitsInfo').style.display = "block";
        document.getElementById('yourBenefitsAndIncome.taxableBenefitsWarn').style.display = "none";
    } else {
        document.getElementById('yourBenefitsAndIncome.taxableBenefitsInfo').style.display = "none";
        document.getElementById('yourBenefitsAndIncome.taxableBenefitsWarn').style.display = "block";
    }
}

function populateTableTaxableBenefits() {
    document.getElementById('yourBenefitsAndIncome.taxableBenefitsTable').innerHTML = buildTableFromMultipleChoiceWithNumberAnswers('Select taxable benefits and enter amount');
}


//Your partner benefits and income
function populateYourPartnerBenefitsAndIncomeSection(sectionNo) {
    setSectionHeader("partnersIncomeAndBenefits.header", sectionNo, "Your partner's benefits and income");
    displayListOfPartnersUntaxedBenefitsOrAlert();
    displayPartnerNoLongerReceivingUntaxedBenefitAlert();

    displayPartnersTotalIncomeFromWork();
    populateTableOfPartnerOtherIncomes();
    displayPartnersSelfEmploymentProfitLossAlert();

    displayPartnersTotalUntaxedBenefits();
    populateTableOfPartnersUntaxedBenefits();
}

function setSectionHeader(elementId, sectionNo, sectionName) {
    document.getElementById(elementId).innerHTML = "Part " + sectionNo + ": " + sectionName;
}

function displayListOfPartnersUntaxedBenefitsOrAlert() {
    var answer = getAnswerForQuestion('Did partner get any untaxed benefits?');

    if (answer === "true") {
        document.getElementById('partnersIncomeAndBenefits.untaxedBenefitsListHeader').style.display = "block";

        document.getElementById('partnersIncomeAndBenefits.untaxedBenefitsList').style.display = "block";
        document.getElementById('partnersIncomeAndBenefits.untaxedBenefitsList').innerHTML = buildListFromRadioAnswers('Which untaxed benefits did partner get');
    } else {
        document.getElementById('partnersIncomeAndBenefits.didNotClaimAlert').style.display = "none";
    }
}

function displayPartnerNoLongerReceivingUntaxedBenefitAlert() {
    var answer = getAnswerForQuestion('Does partner still get this');

    if (answer === "true") {
        document.getElementById('partnersIncomeAndBenefits.noLongerReceivingUntaxedBenefitsAlert').style.display = "none";
    }
}

function displayPartnersTotalIncomeFromWork() {
    var total = sumAnswersFromListOfQuestions(['How much employed income did partner get?',
        'How much company benefit did partner get?',
        'How much profit did partner make from self-employment?']);

    document.getElementById('partnersIncomeAndBenefits.otherIncomeTotal').innerHTML = '£' + total;
}

function populateTableOfPartnerOtherIncomes() {
    var questions = [{
        id: 'How much employed income did partner get?', label: 'Earnings from employment'
    }, {
        id: 'How much company benefit did partner get?', label: 'Company benefits'
    }, {
        id: 'How much profit did partner make from self-employment?', label: 'Profit from self-employment'
    }];

    document.getElementById('partnersIncomeAndBenefits.otherIncomeTable').innerHTML = buildTableFromListOfNumericQuestions(questions);
}

function displayPartnersSelfEmploymentProfitLossAlert() {
    if (getAnswerForQuestion('Is partner self-employment profit estimated?') === 'true') {
        document.getElementById('partnersIncomeAndBenefits.isSelfEmploymentProfitEstimatedAlert').style.display = "block";
    }

    if (getAnswerForQuestion('Is partner self-employment loss estimated?') === 'true') {
        document.getElementById('partnersIncomeAndBenefits.isSelfEmploymentLossEstimatedAlert').style.display = "block";
    }
}

function displayPartnersTotalUntaxedBenefits() {
    if (getAnswerForQuestion('Did partner get any taxable benefits?') === 'true') {
        document.getElementById('partnersIncomeAndBenefits.taxableBenefitsTotal').style.display = "block";
        document.getElementById('partnersIncomeAndBenefits.taxableBenefitsTotal').innerHTML = "£" + sumMultipleChoiceWithNumberAnswers('Select partner taxable benefits and enter amount');

        document.getElementById('partnersIncomeAndBenefits.taxableBenefitsInfo').style.display = "block";
    } else {
        document.getElementById('partnersIncomeAndBenefits.taxableBenefitsWarn').style.display = "block";
    }
}

function populateTableOfPartnersUntaxedBenefits() {
    document.getElementById('partnersIncomeAndBenefits.taxableBenefitsTable').innerHTML = buildTableFromMultipleChoiceWithNumberAnswers('Select partner taxable benefits and enter amount');
}

//Other Household Income

function populateOtherHouseholdIncomeSection(sectionNo) {
    setOtherHouseholdIncomeSectionHeader(sectionNo);
    displayOtherHouseholdIncomeTotal();
    displayOtherHouseholdIncomeInfoOrAlert();
    populateTableOfOtherIncome();
    appendOtherIncomeAllowanceRow();
}

function setOtherHouseholdIncomeSectionHeader(sectionNo) {
    document.getElementById('otherHouseholdIncome.header').innerHTML = "Part " + sectionNo + ": Other household income";
}

function displayOtherHouseholdIncomeTotal() {
    var total = sumMultipleChoiceWithNumberAnswers('Select other income sources & enter amount');

    var answer = getAnswerForQuestion('Did you get any other household income');

    if (answer === "true") {
        total = Math.max(total - 300, 0)
    }

    document.getElementById('otherHouseholdIncome.total').innerHTML = "£" + total;
}

function displayOtherHouseholdIncomeInfoOrAlert() {
    var answer = getAnswerForQuestion('Did you get any other household income');

    if (answer === "true") {
        document.getElementById('otherHouseholdIncome.noOtherIncome').style.display = "none";
        document.getElementById('otherHouseholdIncome.roundDownWarn').style.display = "block";
    } else {
        document.getElementById('otherHouseholdIncome.noOtherIncome').style.display = "block";
        document.getElementById('otherHouseholdIncome.roundDownWarn').style.display = "none";
    }
}

function populateTableOfOtherIncome() {
    document.getElementById('otherHouseholdIncome.otherIncomeTable').innerHTML = buildTableFromMultipleChoiceWithNumberAnswers('Select other income sources & enter amount');
}

function appendOtherIncomeAllowanceRow() {
    var answer = getAnswerForQuestion('Did you get any other household income');

    if (answer === "true") {
        var innerHtml = document.getElementById('otherHouseholdIncome.otherIncomeTable').innerHTML;

        document.getElementById('otherHouseholdIncome.otherIncomeTable').innerHTML = innerHtml + '<tr><td>We deduct £300 as other income allowance</td><td>-300</td></tr>';
    }
}

// Reported changes

function populateReportedChangesSection(sectionNo) {
    setReportedChangesSectionHeader(sectionNo);
}

function setReportedChangesSectionHeader(sectionNo) {
    document.getElementById('reportedChanges.header').innerHTML = "Part " + sectionNo + ": Reported changes";
}

</script>