<script>
  function initSummary() {
      populateYourBenefitsAndIncomeSection(1);
      populateOtherHouseholdIncomeSection(2);

      toggleControls("hide");
      show("Summary");
  }

  //Your Benefits And Income
  function populateYourBenefitsAndIncomeSection(sectionNo) {
      setYourBenefitsAndIncomeSectionHeader(sectionNo);
      populateTableOfUntaxedBenefits();
      displayUntaxedBenefitsAlert();
      displayNoLongerReceivingBenefitsAlert();
      displayTotalIncomeFromWork();
      populateTableOfOtherIncomes();
      displayTotalTaxableBenefits();
      displayTaxableBenefitsInfoOrAlert();
      populateTableTaxableBenefits();
  }


  function setYourBenefitsAndIncomeSectionHeader(sectionNo) {
      document.getElementById('yourBenefitsAndIncome.header').innerHTML = "Part " + sectionNo + ": Your benefits and income"
  }

  function populateTableOfUntaxedBenefits() {
      document.getElementById('yourBenefitsAndIncome.typeOfBenefitsList').innerHTML = buildListFromRadioAnswers('Which untaxed benefit did you get');
  }

  function displayUntaxedBenefitsAlert() {
      var answer = getAnswerForQuestion('Did you get any untaxed benefits');

      if (answer === "false") {
          document.getElementById('yourBenefitsAndIncome.didNotClaimAlert').style.display = "block";
      }
  }

  function displayNoLongerReceivingBenefitsAlert() {
      var answer = getAnswerForQuestion('Do you still get this benefit');

      if (answer === "false") {
          document.getElementById('yourBenefitsAndIncome.noLongerReceivingBenefitsAlert').style.display = "block";
      }
  }

  function displayTotalIncomeFromWork() {
      document.getElementById('yourBenefitsAndIncome.otherIncomeTotal').innerHTML = "£" + sumMultipleNumberOption('Select other income sources & enter amount');
  }

  function populateTableOfOtherIncomes() {
      document.getElementById('yourBenefitsAndIncome.otherIncomeTable').innerHTML = buildTableFromMultipleChoiceNumbersAnswers('Select other income sources & enter amount');
  }

  function displayTotalTaxableBenefits() {
      document.getElementById('yourBenefitsAndIncome.taxableBenefits').innerHTML = "£" + sumMultipleNumberOption('Select taxable benefits and enter amount');
  }

  function displayTaxableBenefitsInfoOrAlert() {
      var answer = getAnswerForQuestion('Did you get any taxable benefits');

      if (answer === "true") {
          document.getElementById('yourBenefitsAndIncome.taxableBenefitsInfo').style.display = "block";
          document.getElementById('yourBenefitsAndIncome.taxableBenefitsWarn').style.display = "none";
      } else {
          document.getElementById('yourBenefitsAndIncome.taxableBenefitsInfo').style.display = "none";
          document.getElementById('yourBenefitsAndIncome.taxableBenefitsWarn').style.display = "block";
      }
  }

  function populateTableTaxableBenefits() {
      document.getElementById('yourBenefitsAndIncome.taxableBenefitsTable').innerHTML = buildTableFromMultipleChoiceNumbersAnswers('Select taxable benefits and enter amount');
  }

  //Other Household Income

  function populateOtherHouseholdIncomeSection(sectionNo) {
      setOtherHouseholdIncomeSectionHeader(sectionNo);
      displayOtherHouseholdIncomeTotal();
      displayOtherHouseholdIncomeInfoOrAlert();
      populateTableOfOtherIncome();
      appendOtherIncomeAllowanceRow();
  }

  function setOtherHouseholdIncomeSectionHeader(sectionNo) {
      document.getElementById('otherHouseholdIncome.header').innerHTML = "Part " + sectionNo + ": Other household income";
  }

  function displayOtherHouseholdIncomeTotal() {
      var total = sumMultipleNumberOption('Select other income sources & enter amount');

      var answer = getAnswerForQuestion('Did you get any other household income');

      if(answer === "true"){
          total = total - 300
      }

      document.getElementById('otherHouseholdIncome.total').innerHTML = "£" + total;
  }

  function displayOtherHouseholdIncomeInfoOrAlert() {
      var answer = getAnswerForQuestion('Did you get any other household income');

      if (answer === "true") {
          document.getElementById('otherHouseholdIncome.noOtherIncome').style.display = "none";
          document.getElementById('otherHouseholdIncome.roundDownWarn').style.display = "block";
      } else {
          document.getElementById('otherHouseholdIncome.noOtherIncome').style.display = "block";
          document.getElementById('otherHouseholdIncome.roundDownWarn').style.display = "none";
      }
  }

  function populateTableOfOtherIncome() {
      document.getElementById('otherHouseholdIncome.otherIncomeTable').innerHTML = buildTableFromMultipleChoiceNumbersAnswers('Select other income sources & enter amount');
  }

  function appendOtherIncomeAllowanceRow() {
      var answer = getAnswerForQuestion('Did you get any other household income');

      if(answer === "true"){
          var innerHtml = document.getElementById('otherHouseholdIncome.otherIncomeTable').innerHTML

          document.getElementById('otherHouseholdIncome.otherIncomeTable').innerHTML = innerHtml + '<tr><td>We deduct £300 as other income allowance</td><td>-300</td></tr>'
      }
  }


  //Helpers
  function getAnswerForQuestion(questionId) {
      var question = getFromId(questionId);
      map.get(question.questionType.modelId);
  }

  function buildListFromRadioAnswers(questionId) {
      var options = getFromId(questionId).questionType.multipleChoiceOptions;

      return options.reduce(function (acc, option) {
          var answer = map.get(option.modelId);

          if (answer === "true") {
              return acc + '<h5>' + option.option + '</h5>'
          } else {
              return acc
          }
      }, "");
  }

  function buildTableFromMultipleChoiceNumbersAnswers(questionId) {
      var options = getFromId(questionId).questionType.multipleChoiceOptions;

      return options.reduce(function (acc, option) {
          var answer = map.get(option.modelId);

          if (typeof answer !== "undefined") {
              return acc + '<tr><td>' + option.option + '</td><td>' + Math.floor(parseFloat(answer)) + '</td></tr>'
          } else {
              return acc
          }
      }, "");
  }

  function sumMultipleNumberOption(questionId) {
      var options = getFromId(questionId).questionType.multipleChoiceOptions;

      var result = options.reduce(function (acc, option) {
          var answer = map.get(option.modelId);

          if (typeof answer !== "undefined") {
              return acc + parseFloat(answer)
          } else {
              return acc
          }
      }, 0);

      return Math.floor(result);
  }


</script>