@(version: String)(implicit request: Request[_], messages: Messages)

<script type="text/javascript" src='@routes.Assets.at(s"javascripts/$version"+"paye-estimator.js")'></script>

<script type="text/javascript">
    function calculate() {
        var statePensionAge = document.getElementsByName("StatePensionAge")
        var selectedPensionAge;
        for(var i = 0; i < statePensionAge.length; i++) {
            if(statePensionAge[i].checked == true) {
                selectedPensionAge = statePensionAge[i].value;
            }
        }
        var taxYear = 2016;
        debugger;
        var calculationDate = document.getElementById("calculationDate").value;
        alert("Calculation Date: " + calculationDate);
        var taxCode = document.getElementById("taxCode").value;
        var grossPayPence = parseInt(document.getElementById("grossPayPence").value,10);
        var grossPayType = document.getElementById("GrossPayType").value;
        var numberOfHours = parseInt(document.getElementById("hourlyRate").value, 10);
        var result;
        if (@version.equals("1.2.0") || @version.equals("1.3.0") || @version.equals("1.5.0") || @version.equals("1083")) {
             result = uk.gov.hmrc.payeestimator.services.LiveTaxCalculatorService().calculateTax(
                    selectedPensionAge,
                    taxYear,
                    taxCode,
                    grossPayPence,
                    grossPayType,
                    numberOfHours);
        }
        else {
           result = uk.gov.hmrc.payeestimator.services.LiveTaxCalculatorService().calculateTax(
                    selectedPensionAge,
                    calculationDate,
                    taxCode,
                    grossPayPence,
                    grossPayType,
                    numberOfHours);
        }

        document.querySelector('.results').innerHTML = result;
    }
</script>


@main_template(title = "Your Tax Calculator", bodyClasses = None) {
    <h1>Tax Calculator with scalaJS</h1>

    <div>
        <table>
            <tr>
                <td style="border: none">
                    <label for="taxCode">Your Tax Code:</label>
                </td>
                <td style="border: none">
                    <input type="text" name="taxCode" value="1100T" id="taxCode"/>
                </td>
            </tr>
            <tr>
                <td style="border: none">
                    <label for="calculationDate">Tax Calc Date:</label>
                </td>
                <td style="border: none">
                    <input type="date" name="calculationDate" id="calculationDate" />
                </td>
            </tr>
            <tr>
                <td style="border: none">
                    <label for="isPensionAge">Over State Pension Age?:</label>
                </td>
                <td style="border: none">
                    <fieldset class="radiogroup" id="isPensionAge">
                        <input type="radio" name="StatePensionAge" value="true" id="StatePensionAge1">Yes
                        <input type="radio" name="StatePensionAge" value="false" id="StatePensionAge2" checked>No
                    </fieldset>
                </td>
            </tr>
            <tr>
                <td style="border: none;">
                    <label for="grossPayPence">Gross Pay:</label>
                </td>
                <td style="border: none">
                    <input type="number" name="GrossPay" id="grossPayPence" value="0"><br>
                </td>
            </tr>
            <tr>
                <td style="border: none">
                    <label for="GrossPayType">Payment Period:</label>
                </td>
                <td style="border: none">
                    <select id="GrossPayType">
                        <option value="annual">Year</option>
                        <option value="monthly">Month</option>
                        <option value="weekly">Week</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="border: none">
                    <label for="hourlyRate">Hourly Rate:</label>
                </td>
                <td style="border: none">
                    <input type="number" name="HourlyRate" id="hourlyRate" value="-1">
                </td>
            </tr>
        </table>
    </div>
    <br/>
    <button type="submit" id="calculate" onclick="calculate()">Submit</button>

    <br/><br/>
    Calculation Object Result:

    <div class="results"></div>
}