@import uk.gov.hmrc.yourtaxcalculator.binders.NativeOS

@(nativeOS:NativeOS, debug:Boolean)(implicit request: Request[_], messages: Messages)

<html>

<head>
    <title>Tax credit renewal application</title>
    <meta name="viewport" content="width=100%, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,target-densitydpi=device-dpi, user-scalable=no" />

    @tags.nativeOSStyles(nativeOS.os)

    @tags.jsCommon()

    @tags.jsDebug()

    @tags.jsHtml()

    @tags.jsQuestion()

    @tags.jsQuestionRouting()

    @tags.jsQuestionHeaders()

    @tags.jsNative()

    @tags.jsSubmission()

    @tags.jsSaveResume()

    @tags.jsTCRQuestions()

    @tags.jsValidation()

    @tags.jsSummary()

    @tags.jsSummaryHelpers()

    @tags.jsSummaryBenefitsAndIncome()

    @tags.jsSummaryOtherHouseholdIncome()

    @tags.jsSummaryPartnerBenefitsAndIncome()

    @tags.jsSummaryReportedChangesAndDeclaration()

    @tags.jsLoaded()

</head>


@if(debug == true) {
        <body class="debug">
    } else {
        <body>
    }
<header id="page-header">
    <h1>Tax Credit Renewal</h1>
</header>
<main>

    @images()

    <!-- MultipleChoice -->
    <div id="MultipleChoice" style="display: none;">
        <div id="dynamicHeader-MultipleChoice-header"></div>
        <h3 id="headerMultipleChoice" class="question"></h3>
        <div id="dynamicHeader-MultipleChoice-footer"></div>
        <div>
            <div id="containerDiv" class="container"></div>
        </div>
        <input type="button" data-se="next" value="Save and continue" id="MultipleChoiceNEXT" onClick="javascript:NEXT()" class="primary">
        <input type="button" data-se="come_back_later" value="Save and come back later" onClick="javascript:SAVE_AND_EXIT()" class="secondary">
    </div>

    <!-- Associated set of input types for containerDiv. -->
    <div style="display: none;">

        <div id="row_ID_checkbox" class="row">
            <input type="checkbox" id="row_checkbox_ID" name="row_checkbox_ID" onchange="javascript:multipleChoiceWithNumberPageValidation();" class="col">
            <div class="col" id="row_div_checkbox_ID">
                <label id="row_label_checkbox_ID" for="row_checkbox_ID"></label>
                <div id="number_entry_hidden" class="showIfChecked">
                    <label id="row_number_checkbox_label_ID" for="row_number_checkbox_ID"></label>
                    <input type="number" id="row_number_checkbox_ID" oninput="javascript:multipleChoiceWithNumberPageValidation();" value="">
                </div>
            </div>
        </div>

        <div id="row_ID_radio" class="row">
            <input type="radio" id="row_radio_ID" name="row_radio_ID" onchange="javascript:multipleChoicePageValidation();" class="col">
            <label id="row_label_radio_ID" for="row_radio_ID" class="col"></label>
        </div>
    </div>

    <!-- Boolean -->
    <div id="Boolean" style="display: none;">
        <div id="dynamicHeader-Boolean-header"></div>
        <h3 id="headerBoolean"></h3>
        <div id="dynamicHeader-Boolean-footer"></div>

        <div id="yesInfoDiv" style="display: none"></div>
        <div class="container">
            <div class="row">
                <input type="radio" id="boolean_yes" name="boolean_option" onClick="javascript:YES()" onchange="javascript:booleanPageValidation();" class="col">
                <label for="boolean_yes" class="col">Yes</label>
            </div>
            <div class="row">
                <input type="radio" id="boolean_no" name="boolean_option"  onClick="javascript:NO()" onchange="javascript:booleanPageValidation();" class="col">
                <label for="boolean_no" class="col">No</label>
            </div>
        </div>
        <input type="button" data-se="next" value="Save and continue" disabled="true" onClick="javascript:NEXT_BOOLEAN_CONTINUE()" class="primary">
        <input type="button" data-se="come_back_later" value="Save and come back later" onClick="javascript:SAVE_AND_EXIT()" class="secondary">
    </div>

    <!-- Continue -->
    <div id="Continue" style="display: none;">
        <div id="dynamicHeader-Continue-header"></div>
        <h3 id="headerContinue"></h3>
        <div id="dynamicHeader-Continue-footer"></div>

        <input type="button" data-se="continue" value="Save and continue" onClick="javascript:NEXT_CONTINUE()" class="primary">
        <input type="button" data-se="come_back_later" value="Save and come back later" onClick="javascript:SAVE_AND_EXIT()" class="secondary">
    </div>


    <!-- Decimal Input -->
    <div id="Decimal" style="display: none;">
        <div id="dynamicHeader-Decimal-header"></div>
        <label id="headerDecimal" for="DecimalInput"></label>
        <div id="dynamicHeader-Decimal-footer"></div>

        <input type="number" id="DecimalInput" oninput="javascript:decimalPageValidation();">

        <input type="button" data-se="next" value="Save and continue" onClick="javascript:NEXT_DECIMAL()" class="primary">
        <input type="button" data-se="come_back_later" value="Save and come back later" onClick="javascript:SAVE_AND_EXIT()" class="secondary">

    </div>

    <div id="Summary" style="display: none;">
        <main class="summary">
            <header>
                <h1>Check and confirm your answers</h1>
            </header>
            <div id="yourBenefitsAndIncome_PY_1" style="display: none">
                <article>
                    <header>
                        <h2 id="yourBenefitsAndIncome.header_PY_1"/>
                        <h3 id="yourBenefitsAndIncome.otherIncomePreHeader_PY_1" class="pre-header"/>
                        <br/>
                        <h4 id="yourBenefitsAndIncome.otherIncomeTotalLabel_PY_1" style="text-align: center;
                            font-weight: normal">Your total income</h4>
                        <h1 id="yourBenefitsAndIncome.otherIncomeTotal_PY_1"/>
                    </header>
                    <p class="note">Your income from work has been rounded down to the nearest pound (£).</p>
                    <table id="yourBenefitsAndIncome.otherIncomeTable_PY_1">
                        <thead>
                            <tr>
                                <th>Type of income</th>
                                <th>Amount(£)</th>
                            </tr>
                        </thead>
                        <tbody id="yourBenefitsAndIncome.otherIncomeTableBody_PY_1"/>
                    </table>
                    <div class="edit-income-btn" onClick="javascript:changeIncome('_PY_1')">
                        <svg class="edit-income-btn__icon edit-income-btn__icon--ios">
                            <use xlink:href="#edit-icon-ios"></use>
                        </svg>
                        <svg class="edit-income-btn__icon edit-income-btn__icon--windows">
                            <use xlink:href="#edit-icon-windows"></use>
                        </svg>
                        <svg class="edit-income-btn__icon edit-income-btn__icon--android">
                            <use xlink:href="#edit-icon-android"></use>
                        </svg>
                        <span class="edit-income-btn__text">Change your income</span>
                    </div>
                </article>
                <article>
                    <header>
                        <h3 id="yourBenefitsAndIncome.benefitsPreHeader_PY_1" class="pre-header"/>
                        <br/>
                        <h4 id="yourBenefitsAndIncome.taxableBenefitsTotalLabel_PY_1" style="text-align: center;
                            font-weight: normal">Your total benefits</h4>
                        <h1 id="yourBenefitsAndIncome.taxableBenefitsTotal_PY_1"/>
                    </header>
                    <p id="yourBenefitsAndIncome.taxableBenefitsRoundingAlert_PY_1" class="note" style="display: none">
                        Your income from benefits you pay tax on has been rounded down to the nearest pound (£).
                    </p>
                    <p id="yourBenefitsAndIncome.taxableBenefitsNoBenefitsAlert_PY_1" class="note" style="display: none">
                        You did not have any income from benefits you pay tax on.
                    </p>
                    <table id="yourBenefitsAndIncome.taxableBenefitsTable_PY_1">
                        <thead>
                            <tr>
                                <th>Type of income</th>
                                <th>Amount(£)</th>
                            </tr>
                        </thead>
                        <tbody id="yourBenefitsAndIncome.taxableBenefitsTableBody_PY_1"/>
                    </table>
                    <div class="edit-income-btn"  onClick="javascript:changeTaxableBenefits('_PY_1')">
                        <svg class="edit-income-btn__icon edit-income-btn__icon--ios">
                            <use xlink:href="#edit-icon-ios"></use>
                        </svg>
                        <svg class="edit-income-btn__icon edit-income-btn__icon--windows">
                            <use xlink:href="#edit-icon-windows"></use>
                        </svg>
                        <svg class="edit-income-btn__icon edit-income-btn__icon--android">
                            <use xlink:href="#edit-icon-android"></use>
                        </svg>
                        <span class="edit-income-btn__text">Change benefits you pay tax on</span>
                    </div>
                </article>
            </div>
            <div id="partnersIncomeAndBenefits_PY_1" style="display: none">
                <article>
                    <header>
                        <h2 id="partnersIncomeAndBenefits.header_PY_1"/>
                        <h3 id="partnersIncomeAndBenefits.otherIncomePreHeader_PY_1" class="pre-header"/>
                        <br/>
                        <h4 style="text-align: center; font-weight: normal">Your partner's total income</h4>
                        <h1 id="partnersIncomeAndBenefits.otherIncomeTotal_PY_1"/>
                    </header>
                    <p class="note">Your partner's income from work has been rounded down to the nearest pound (£).</p>
                    <table>
                        <thead>
                            <tr>
                                <th>Type of income</th>
                                <th>Amount(£)</th>
                            </tr>
                        </thead>
                        <tbody id="partnersIncomeAndBenefits.otherIncomeTable_PY_1"/>
                    </table>
                    <span class="alert alert--info" id="partnersIncomeAndBenefits.isSelfEmploymentProfitEstimatedAlert_PY_1" style="display: none">
                        You said your partner's profit from self-employment is an estimate. You must contact us before 31 January 2018 and tell us how much profit your partner actually made.
                    </span>
                    <span class="alert alert--info" id="partnersIncomeAndBenefits.isSelfEmploymentLossEstimatedAlert_PY_1" style="display: none">
                        You said your partner's loss from self-employment is an estimate. You must contact us before 31 January 2018 and tell us if your partner actually made a profit.
                    </span>
                    <div class="edit-income-btn" onClick="javascript:changePartnerIncome('_PY_1')">
                        <svg class="edit-income-btn__icon edit-income-btn__icon--ios">
                            <use xlink:href="#edit-icon-ios"></use>
                        </svg>
                        <svg class="edit-income-btn__icon edit-income-btn__icon--windows">
                            <use xlink:href="#edit-icon-windows"></use>
                        </svg>
                        <svg class="edit-income-btn__icon edit-income-btn__icon--android">
                            <use xlink:href="#edit-icon-android"></use>
                        </svg>
                        <span class="edit-income-btn__text">Change your income</span>
                    </div>
                </article>
                <article>
                    <header>
                        <p id="partnersIncomeAndBenefits.benefitsPreHeader_PY_1" class="pre-header"/>
                        <br/>
                        <h4 id="partnersIncomeAndBenefits.taxableBenefitsTotalLabel_PY_1" style="text-align: center; font-weight: normal">Your partners total benefits</h4>
                        <h1 id="partnersIncomeAndBenefits.taxableBenefitsTotal_PY_1"/>
                    </header>
                    <p id="partnersIncomeAndBenefits.taxableBenefitsRoundingAlert_PY_1" class="note" style="display: none">
                        Your partner's income from benefits you pay tax on has been rounded down to the nearest pound (£).
                    </p>
                    <p id="partnersIncomeAndBenefits.taxableBenefitsNoBenefitsAlert_PY_1" class="note" style="display: none">
                        Your partner did not have any income from benefits you pay tax on.
                    </p>
                    <table id="partnersIncomeAndBenefits.taxableBenefitsTable_PY_1">
                        <thead>
                            <tr>
                                <th>Type of income</th>
                                <th>Amount(£)</th>
                            </tr>
                        </thead>
                        <tbody id="partnersIncomeAndBenefits.taxableBenefitsTableBody_PY_1"/>
                    </table>
                    <div class="edit-income-btn" onClick="javascript:changePartnerBenefits('_PY_1')">
                        <svg class="edit-income-btn__icon edit-income-btn__icon--ios">
                            <use xlink:href="#edit-icon-ios"></use>
                        </svg>
                        <svg class="edit-income-btn__icon edit-income-btn__icon--windows">
                            <use xlink:href="#edit-icon-windows"></use>
                        </svg>
                        <svg class="edit-income-btn__icon edit-income-btn__icon--android">
                            <use xlink:href="#edit-icon-android"></use>
                        </svg>
                        <span class="edit-income-btn__text">Change benefits your partner pays tax on</span>
                    </div>
                </article>
            </div>
            <div id="otherHouseholdIncome_PY_1" style="display: none">
                <article>
                    <header>
                        <h2 id="otherHouseholdIncome.header_PY_1"/>
                        <br/>
                        <h4 id="otherHouseholdIncome.totalLabel_PY_1" style="text-align: center; font-weight: normal">Your total other household income</h4>
                        <h1 id="otherHouseholdIncome.total_PY_1"/>
                    </header>

                    <p id="otherHouseholdIncome.noOtherIncome_PY_1" class="note" style="display: none">You did not have any types of other income.</p>
                    <p id="otherHouseholdIncome.roundDownWarn_PY_1" class="note" style="display: none">Your other household income has been rounded down to the nearest pound (£).</p>
                    <table id="otherHouseholdIncome.otherIncomeTable_PY_1">
                        <thead>
                            <tr>
                                <th>Type of income</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody id="otherHouseholdIncome.otherIncomeTableBody_PY_1"/>
                    </table>
                    <span class="alert alert--info" id="otherHouseholdIncome.anyIncomeEstimatedAlert_PY_1" style="display: none">
                        You said your other income amounts are estimated. You must contact us before 31 January 2018 to tell us the actual amounts.
                    </span>
                    <span class="alert alert--info" id="otherHouseholdIncome.isSelfEmploymentLossEstimatedAlert_PY_1" style="display: none">
                        You said your loss from self-employment is an estimate. You must contact us before 31 January 2018 and tell us if you actually made a profit.
                    </span>
                    <span class="alert alert--info" id="otherHouseholdIncome.isSelfEmploymentProfitEstimatedAlert_PY_1" style="display: none">
                        You said your profit from renting out property is an estimate. You must contact us before 31 January 2018 and tell us how much profit you actually made.
                    </span>
                    <div class="edit-income-btn"  onClick="javascript:changeHouseholdIncome('_PY_1')">
                        <svg class="edit-income-btn__icon edit-income-btn__icon--ios">
                            <use xlink:href="#edit-icon-ios"></use>
                        </svg>
                        <svg class="edit-income-btn__icon edit-income-btn__icon--windows">
                            <use xlink:href="#edit-icon-windows"></use>
                        </svg>
                        <svg class="edit-income-btn__icon edit-income-btn__icon--android">
                            <use xlink:href="#edit-icon-android"></use>
                        </svg>
                        <span class="edit-income-btn__text">Change other household income</span>
                    </div>
                </article>
            </div>
            <div id="yourBenefitsAndIncome" style="display: none">
                <article>
                    <header>
                    <h2 id="yourBenefitsAndIncome.header"/>
                    <h3 id="yourBenefitsAndIncome.noTaxBenefitHeader" class="pre-header"/>
                    </header>
                    <span id="yourBenefitsAndIncome.didNotClaimAlert" style="display: none">
                        You told us that you did not claim any of the listed benefits for the whole of this time.
                    </span>
                    <h4 id="yourBenefitsAndIncome.untaxedBenefitsListHeader" style="display: none">Type of benefit</h4>
                    <div id="yourBenefitsAndIncome.untaxedBenefitsList"></div>
                    <span class="alert alert--info" id="yourBenefitsAndIncome.noLongerReceivingUntaxedBenefitsAlert" style="display: none">
                        You said you no longer get this benefit.
                    </span>
                    <div id="yourBenefitsAndIncome.whichNoTaxBenefits" style="display: none;">
                        <details>
                            <summary><span class="summary">What benefits do you not pay tax on?</span></summary>
                            <div class="panel panel-border-narrow">
                                <h3 class="heading-small">Income-based Jobseeker's Allowance</h3>
                                <p>An unemployment benefit you can claim while looking for work. You must work less than 16 hours a week on average, your partner works less than 24 hours a week on average and you have £16,000 or less in savings.</p>

                                <h3 class="heading-small">Income-related Employment and Support Allowance</h3>
                                <p>A benefit you can claim if your ability to work is limited by ill health or disability.</p>

                                <h3 class="heading-small">Income Support</h3>
                                <p>A benefit you can claim if you are on a low income and not working (or only working part-time). It is for people who do not sign on as unemployed.</p>

                                <h3 class="heading-small">Pension Credit</h3>
                                <p>An income-related benefit made up of Guarantee Credit and Savings Credit. Guarantee Credit tops up your weekly income if it is below a certain amount (depending on if you are single or not). Savings Credit is an extra payment if you have saved some money towards your retirement, such as a pension.</p>
                            </div>
                        </details>

                    </div>
                    <input type="button" class="secondary edit" value="Change benefits" onClick="javascript:changeUnTaxedBenefits()" />
                </article>

                <article>
                    <div class="edit-income-btn" onClick="javascript:changeUnTaxedBenefits()">
                        <svg class="edit-income-btn__icon edit-income-btn__icon--ios">
                            <use xlink:href="#edit-icon-ios"></use>
                        </svg>
                        <svg class="edit-income-btn__icon edit-income-btn__icon--windows">
                            <use xlink:href="#edit-icon-windows"></use>
                        </svg>
                        <svg class="edit-income-btn__icon edit-income-btn__icon--android">
                            <use xlink:href="#edit-icon-android"></use>
                        </svg>
                        <span class="edit-income-btn__text">Change benefits</span>
                    </div>
                    <header>
                        <h3 id="yourBenefitsAndIncome.otherIncomePreHeader" class="pre-header"/>
                        <br/>
                        <h4 id="yourBenefitsAndIncome.otherIncomeTotalLabel" style="text-align: center; font-weight: normal">Your total income</h4>
                        <h1 id="yourBenefitsAndIncome.otherIncomeTotal"/>
                    </header>
                    <p class="note">Your income from work has been rounded down to the nearest pound (£).</p>
                    <table id="yourBenefitsAndIncome.otherIncomeTable">
                        <thead>
                            <tr>
                                <th>Type of income</th>
                                <th>Amount(£)</th>
                            </tr>
                        </thead>
                        <tbody id="yourBenefitsAndIncome.otherIncomeTableBody"/>
                    </table>
                    <span class="alert alert--info" id="yourBenefitsAndIncome.isSelfEmploymentProfitEstimatedAlert" style="display: none">
                        You said your profit from self-employment is an estimate. You must contact us before 31 January 2018 and tell us how much profit you actually made.
                    </span>
                    <span class="alert alert--info" id="yourBenefitsAndIncome.isSelfEmploymentLossEstimatedAlert" style="display: none">
                        You said your loss from self-employment is an estimate. You must contact us before 31 January 2018 and tell us if you actually made a profit.
                    </span>
                    <div class="edit-income-btn" onclick="javascript:changeIncome('')">
                        <svg class="edit-income-btn__icon edit-income-btn__icon--ios">
                            <use xlink:href="#edit-icon-ios"></use>
                        </svg>
                        <svg class="edit-income-btn__icon edit-income-btn__icon--windows">
                            <use xlink:href="#edit-icon-windows"></use>
                        </svg>
                        <svg class="edit-income-btn__icon edit-income-btn__icon--android">
                            <use xlink:href="#edit-icon-android"></use>
                        </svg>
                        <span class="edit-income-btn__text">Change your income</span>
                    </div>
                </article>

                <article>
                    <header>
                        <p id="yourBenefitsAndIncome.benefitsPreHeader" class="pre-header"/>
                        <br/>
                        <h4 id="yourBenefitsAndIncome.taxableBenefitsTotalLabel" style="text-align: center; font-weight: normal">Your total benefits</h4>
                        <h1 id="yourBenefitsAndIncome.taxableBenefitsTotal"/>
                    </header>
                    <p id="yourBenefitsAndIncome.taxableBenefitsRoundingAlert" class="note" style="display: none">
                        Your income from benefits you pay tax on has been rounded down to the nearest pound (£).
                    </p>
                    <p id="yourBenefitsAndIncome.taxableBenefitsNoBenefitsAlert" class="note" style="display: none">
                        You did not have any income from benefits you pay tax on.
                    </p>
                    <table id="yourBenefitsAndIncome.taxableBenefitsTable">
                        <thead>
                            <tr>
                                <th>Type of income</th>
                                <th>Amount(£)</th>
                            </tr>
                        </thead>
                        <tbody id="yourBenefitsAndIncome.taxableBenefitsTableBody"/>
                    </table>
                    <div class="edit-income-btn" onClick="javascript:changeTaxableBenefits('')">
                        <svg class="edit-income-btn__icon edit-income-btn__icon--ios">
                            <use xlink:href="#edit-icon-ios"></use>
                        </svg>
                        <svg class="edit-income-btn__icon edit-income-btn__icon--windows">
                            <use xlink:href="#edit-icon-windows"></use>
                        </svg>
                        <svg class="edit-income-btn__icon edit-income-btn__icon--android">
                            <use xlink:href="#edit-icon-android"></use>
                        </svg>
                        <span class="edit-income-btn__text">Change benefits you pay tax on</span>
                    </div>
                </article>
            </div>
            <div id="partnersIncomeAndBenefits" style="display: none;">
                <article>
                    <h2 id="partnersIncomeAndBenefits.header"/>
                    <h3>Benefits your partner does not pay tax on between 20 April 2016 and 5 April 2017</h3>
                    <span id="partnersIncomeAndBenefits.didNotClaimAlert" style="display: none">
                        You told us that your partner did not claim any of the listed benefits for the whole of this time.
                    </span>
                    <h4 id="partnersIncomeAndBenefits.untaxedBenefitsListHeader" style="display: none">Type of benefit</h4>
                    <div id="partnersIncomeAndBenefits.untaxedBenefitsList" style="display: none"></div>
                    <span class="alert alert--info" id="partnersIncomeAndBenefits.noLongerReceivingUntaxedBenefitsAlert" style="display: none">
                        You said your partner no longer gets this benefit.
                    </span>
                    <div id="partnersIncomeAndBenefits.whichNoTaxBenefits" style="display: none;">
                        <details>
                            <summary><span class="summary">What benefits do you not pay tax on?</span></summary>
                            <div class="panel panel-border-narrow">
                                <h3 class="heading-small">Income-based Jobseeker's Allowance</h3>
                                <p>An unemployment benefit you can claim while looking for work. You must work less than 16 hours a week on average, your partner works less than 24 hours a week on average and you have £16,000 or less in savings.</p>

                                <h3 class="heading-small">Income-related Employment and Support Allowance</h3>
                                <p>A benefit you can claim if your ability to work is limited by ill health or disability.</p>

                                <h3 class="heading-small">Income Support</h3>
                                <p>A benefit you can claim if you are on a low income and not working (or only working part-time). It is for people who do not sign on as unemployed.</p>

                                <h3 class="heading-small">Pension Credit</h3>
                                <p>An income-related benefit made up of Guarantee Credit and Savings Credit. Guarantee Credit tops up your weekly income if it is below a certain amount (depending on if you are single or not). Savings Credit is an extra payment if you have saved some money towards your retirement, such as a pension.</p>
                            </div>
                        </details>
                    </div>
                    <div class="edit-income-btn" onclick="javascript:changeTaxableBenefits('')">
                        <svg class="edit-income-btn__icon edit-income-btn__icon--ios">
                            <use xlink:href="#edit-icon-ios"></use>
                        </svg>
                        <svg class="edit-income-btn__icon edit-income-btn__icon--windows">
                            <use xlink:href="#edit-icon-windows"></use>
                        </svg>
                        <svg class="edit-income-btn__icon edit-income-btn__icon--android">
                            <use xlink:href="#edit-icon-android"></use>
                        </svg>
                        <span class="edit-income-btn__text">Change benefits</span>
                    </div>
                </article>
                <article>
                    <header>
                        <p id="partnersIncomeAndBenefits.otherIncomePreHeader" class="pre-header"/>
                        <br/>
                        <h4 style="text-align: center; font-weight: normal">Your partner's total income</h4>
                        <h1 id="partnersIncomeAndBenefits.otherIncomeTotal"/>
                    </header>
                    <p class="note">Your income from work has been rounded down to the nearest pound (£).</p>
                    <table>
                        <thead>
                            <tr>
                                <th>Type of income</th>
                                <th>Amount(£)</th>
                            </tr>
                        </thead>
                        <tbody id="partnersIncomeAndBenefits.otherIncomeTable"/>
                    </table>
                    <span class="alert alert--info" id="partnersIncomeAndBenefits.isSelfEmploymentProfitEstimatedAlert" style="display: none">
                        You said your partner's profit from self-employment is an estimate. You must contact us before 31 January 2018 and tell us how much profit your partner actually made.
                    </span>
                    <span class="alert alert--info" id="partnersIncomeAndBenefits.isSelfEmploymentLossEstimatedAlert" style="display: none">
                        You said your partner's loss from self-employment is an estimate. You must contact us before 31 January 2018 and tell us if your partner actually made a profit.
                    </span>
                    <div class="edit-income-btn" onClick="javascript:changePartnerIncome('')">
                        <svg class="edit-income-btn__icon edit-income-btn__icon--ios">
                            <use xlink:href="#edit-icon-ios"></use>
                        </svg>
                        <svg class="edit-income-btn__icon edit-income-btn__icon--windows">
                            <use xlink:href="#edit-icon-windows"></use>
                        </svg>
                        <svg class="edit-income-btn__icon edit-income-btn__icon--android">
                            <use xlink:href="#edit-icon-android"></use>
                        </svg>
                        <span class="edit-income-btn__text">Change your income</span>
                    </div>
                </article>
                <article>
                    <header>
                        <p id="partnersIncomeAndBenefits.benefitsPreHeader" class="pre-header"/>
                        <br/>
                        <h4 id="partnersIncomeAndBenefits.taxableBenefitsTotalLabel" style="text-align: center; font-weight: normal">Your partner's total benefits</h4>
                        <h1 id="partnersIncomeAndBenefits.taxableBenefitsTotal"/>
                    </header>
                    <p id="partnersIncomeAndBenefits.taxableBenefitsRoundingAlert" class="note" style="display: none">
                        Your partner's income from benefits you pay tax on has been rounded down to the nearest pound (£).
                    </p>
                    <p id="partnersIncomeAndBenefits.taxableBenefitsNoBenefitsAlert" class="note" style="display: none">
                        Your partner did not have any income from benefits you pay tax on.
                    </p>
                    <table id="partnersIncomeAndBenefits.taxableBenefitsTable">
                        <thead>
                            <tr>
                                <th>Type of income</th>
                                <th>Amount(£)</th>
                            </tr>
                        </thead>
                        <tbody id="partnersIncomeAndBenefits.taxableBenefitsTableBody"/>
                    </table>
                    <div class="edit-income-btn" onClick="javascript:changePartnerBenefits('')">
                        <svg class="edit-income-btn__icon edit-income-btn__icon--ios">
                            <use xlink:href="#edit-icon-ios"></use>
                        </svg>
                        <svg class="edit-income-btn__icon edit-income-btn__icon--windows">
                            <use xlink:href="#edit-icon-windows"></use>
                        </svg>
                        <svg class="edit-income-btn__icon edit-income-btn__icon--android">
                            <use xlink:href="#edit-icon-android"></use>
                        </svg>
                        <span class="edit-income-btn__text">Change benefits your partner pays tax on</span>
                    </div>
                </article>
            </div>
            <div id="otherHouseholdIncome" style="display: none;">
                <article>
                    <header>
                        <h2 id="otherHouseholdIncome.header"/>
                        <br/>
                        <h4 id="otherHouseholdIncome.totalLabel" style="text-align: center; font-weight: normal">Your total other household income</h4>
                        <h1 id="otherHouseholdIncome.total"/>
                    </header>

                    <p id="otherHouseholdIncome.noOtherIncome" class="note" style="display: none">You did not have any types of other income.</p>
                    <p id="otherHouseholdIncome.roundDownWarn" class="note" style="display: none">Your other household income has been rounded down to the nearest pound (£).</p>
                    <table id="otherHouseholdIncome.otherIncomeTable">
                        <thead>
                            <tr>
                                <th>Type of income</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody id="otherHouseholdIncome.otherIncomeTableBody"/>
                    </table>
                    <span class="alert alert--info" id="otherHouseholdIncome.anyIncomeEstimatedAlert" style="display: none">
                        You said your other income amounts are estimated. You must contact us before 31 January 2018 to tell us the actual amounts.
                    </span>
                    <span class="alert alert--info" id="otherHouseholdIncome.isSelfEmploymentLossEstimatedAlert" style="display: none">
                        You said your loss from renting out property is an estimate. You must contact us before 31 January 2018 and tell us how much profit you actually made.
                    </span>
                    <span class="alert alert--info" id="otherHouseholdIncome.isSelfEmploymentProfitEstimatedAlert" style="display: none">
                        You said your profit from renting out property is an estimate. You must contact us before 31 January 2018 and tell us how much profit you actually made.
                    </span>
                    <div class="edit-income-btn" onClick="javascript:changeHouseholdIncome('')">
                        <svg class="edit-income-btn__icon edit-income-btn__icon--ios">
                            <use xlink:href="#edit-icon-ios"></use>
                        </svg>
                        <svg class="edit-income-btn__icon edit-income-btn__icon--windows">
                            <use xlink:href="#edit-icon-windows"></use>
                        </svg>
                        <svg class="edit-income-btn__icon edit-income-btn__icon--android">
                            <use xlink:href="#edit-icon-android"></use>
                        </svg>
                        <span class="edit-income-btn__text">Change other household income</span>
                    </div>
                </article>
            </div>
            <div id="reportedChanges">
                <article>
                    <header>
                        <h2 id="reportedChanges.header"/>
                    </header>
                    <p id="reportedChanges.noChangesWarning" class="note" style="display: none">You did not report a
                        change to any of your personal circumstances.</p>
                    <p id="reportedChanges.someChangesWarning" class="note" style="display: none">You changed one or
                        more of your personal circumstances..</p>
                    <div class="edit-income-btn" onClick="javascript:changePersonalCircumstances()">
                        <svg class="edit-income-btn__icon edit-income-btn__icon--ios">
                            <use xlink:href="#edit-icon-ios"></use>
                        </svg>
                        <svg class="edit-income-btn__icon edit-income-btn__icon--windows">
                            <use xlink:href="#edit-icon-windows"></use>
                        </svg>
                        <svg class="edit-income-btn__icon edit-income-btn__icon--android">
                            <use xlink:href="#edit-icon-android"></use>
                        </svg>
                        <span class="edit-income-btn__text">Report a change to your personal circumstances</span>
                    </div>
                </article>
            </div>
            <div id="declaration">
                <article>
                    <header>
                        <h2>Declaration</h2>
                    </header>
                    <p style="font-weight: bold">By sending your review and renewing your claim, you confirm that the information you have provided is correct and complete.</p>
                    <br/>
                    <p>If you gave false details on purpose you will have to pay back money you should not have got. We may take you to court, fine you, or both.</p>
                    <br/>
                    <p id="declaration.shareDetailsWithPartnerWarning" style="display: none">Because this is a joint claim, we will share the details with your partner.</p>
                    <input id="summaryConfirmAndRenew" type="button" value="Confirm answers and renew claim" onClick="javascript:SUMMARY_CONFIRM_AND_RENEW()" class="primary">
                    <input id="summarySaveAndExit" type="button" value="Save and come back later" onClick="javascript:SUMMARY_SAVE_AND_COME_BACK_LATER()" class="secondary">
                </article>
            </div>
        </main>
    </div>


    <!-- Dynamic header/footer divs's wired into questions and inserted into above question divs.-->
    <div style="display: none;">

        <div id="confirm-pack-receipt">

            <p class="lede">You must check the details in your renewal pack before you complete your declaration online.</p>
            <p>You need to make sure you have correctly advised us of any changes.</p>
            <p class="bold-small">[PACK_RECEIPT_AWARD_DATE_HEADER]</nobr></p>

        </div>

        <div id="pack-not-received">
            <p class="lede">You must check the details in your renewal pack before you complete your declaration online.</p>
            <div class="notice">
                <p>If your renewal pack does not arrive by 30 June 2017, <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/tax-credits-enquiries" target="_blank">contact the Tax Credit Helpline </a>.</p>
            </div>
        </div>

        <div id="auto-renewal-header">
            <h2><span>Your claim will be automatically renewed unless you need to report any changes</span></h2>
            <h3><span>Check the details in your renewal pack for your claim between 6 April 2016 and 5 April 2017.</span></h3>
            <details>
                <summary><span class="summary">I have not received my pack yet</span></summary>
                <div class="panel panel-border-narrow">
                    <p>Your renewal pack should arrive by 30 June 2016. If it does not arrive by then, <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/tax-credits-enquiries" target="_blank">contact the Tax Credit Helpline.</a></p>
                </div>
            </details>
        </div>

        <div id="auto-renewal-yes-info">
            <span class="alert alert--info">Because you need to report changes, we will also need you to review your income over the last year.</span>
        </div>

        <div id="Completing review message">
            <p>Your information will be saved as you progress.
                If you sign out, your changes will be saved for 28 days. After that time you will need to start from the beginning.
            </p>

            <p id="completingReviewWarningForD2" style="display: none">As you were not able to provide us with actual income figures when applying for tax credits,
                we will need to ask you questions about the previous 2 tax years.</p>

            <p>This review is divided into <span id="completing-review-message-total">3</span> parts.</p>
            <ul class="list-bullet">

                <div id="dynamicInsertPoint"></div>

            </ul>
        </div>

        <div id="cloneForInsertPoint"></div>

        <div id="your-benefits-and-income-intro">
            <h3>You will be asked about:</h3>
            <ul class="list-bullet">
                <li>benefits you claimed</li>
                <li>income from your employment and self-employment</li>
            </ul>

            <h3>You may need:</h3>
            <ul class="list-bullet">
                <li><h4>Your benefit letters</h4>
                    Showing the amounts you received between [START_DATE] and [END_DATE]</li>

                <li><h4>Your P60 for [START_DATE] to [END_DATE]</h4>
                    For your total earnings, which may include things like private pensions or Statutory Maternity Pay</li>

                <li><h4>Your P11D for [START_DATE] to [END_DATE]</h4>
                    For company benefits you got. Also known as 'benefits in kind'</li>

                <li><h4>Your P45</h4>
                    For any job you had that ended between [START_DATE] and [END_DATE]</li>

                <li><h4>Your Self Assessment returns</h4>
                    For your self-employment income between [START_DATE] and [END_DATE]</li>
            </ul>
        </div>

        <div id="your-partners-benefits-and-income-intro">
            <h3>You will be asked about:</h3>
            <ul class="list-bullet">
                <li>benefits your partner claimed</li>
                <li>income from your partner's employment and self-employment</li>
            </ul>

            <h3>You may need:</h3>
            <ul class="list-bullet">
                <li><h4>Your partner's benefit letters</h4>
                    Showing the amounts your partner received between [START_DATE] and [END_DATE]</li>

                <li><h4>Your partner's P60 for [START_DATE] to [END_DATE]</h4>
                    For your total earnings, which may include things like private pensions or Statutory Maternity Pay</li>

                <li><h4>Your partner's P11D for [START_DATE] to [END_DATE]</h4>
                    For company benefits your partner got. Also known as 'benefits in kind'</li>

                <li><h4>Your partner's P45</h4>
                    For any job your partner had that ended between [START_DATE] and [END_DATE]</li>

                <li><h4>Your partner's Self Assessment returns</h4>
                    For your partner's self-employment income between [START_DATE] and [END_DATE]</li>
            </ul>
        </div>

        <div id="did-you-get-any-untaxed-benefits">

            <p class="">The benefits are:</p>
            <ul class="list-bullet">
                <li>income-based Jobseeker's Allowance</li>
                <li>income-related Employment and Support Allowance</li>
                <li>income Support</li>
                <li>pension Credit</li>
            </ul>

            <details>
                <summary><span class="summary">What are these benefits?</span></summary>
                <div class="panel panel-border-narrow">
                    <h3 class="heading-small">Income-based Jobseeker's Allowance</h3>
                    <p>An unemployment benefit you can claim while looking for work. You must work less than 16 hours a week on average, your partner works less than 24 hours a week on average and you have £16,000 or less in savings.</p>

                    <h3 class="heading-small">Income-related Employment and Support Allowance</h3>
                    <p>A benefit you can claim if your ability to work is limited by ill health or disability.</p>

                    <h3 class="heading-small">Income Support</h3>
                    <p>A benefit you can claim if you are on a low income and not working (or only working part-time). It is for people who do not sign on as unemployed.</p>

                    <h3 class="heading-small">Pension Credit</h3>
                    <p>An income-related benefit made up of Guarantee Credit and Savings Credit. Guarantee Credit tops up your weekly income if it is below a certain amount (depending on if you are single or not). Savings Credit is an extra payment if you have saved some money towards your retirement, such as a pension.</p>
                </div>
            </details>

        </div>

        <div id="do-you-still-get-this-benefit">
            <div class="panel panel-border-narrow">
                If you have not already told us that you no longer receive this benefit, you should report this as a change in this review.
            </div>
        </div>

        <div id="let-us-know-how-much-you-have-earned">
            <p>Let us know how much you earned before anything was taken off. Use the 'total pay' or 'total for year' amount on your P60.</p>
            <details>
                <summary>What if I do not have my P60?</summary>
                <div class="panel">
                    <p>If your employer has told us about your earned income between [START_DATE] and [END_DATE], it is shown in step B of your renewal pack.
                    </p>
                    <div>
                        <svg viewbox="0 0 283.28 218.35"><use xlink:href="#p60"></use></svg>
                    </div>
                </div>
            </details>
        </div>

        <div id="let-us-know-how-much-your-partner-earned">
            <p>Let us know how much your partner earned before anything was taken off. Use the 'total pay' or 'total for year' amount on their P60.</p>
            <details>
                <summary>What if I do not have my partner's P60?</summary>
                <div class="panel">
                    <p>If your partner's employer has told us about their earned income between [START_DATE] and [END_DATE], it is shown in step B of your renewal pack.
                    </p>
                    <div>
                        <svg viewbox="0 0 283.28 218.35"><use xlink:href="#p60"></use></svg>
                    </div>
                </div>
            </details>
        </div>

        <div id="are-any-of-the-income-amounts-estimated">

        </div>


        <div id="Other household income">
            <ul class="list list-bullet text">
                <li>savings, investments or dividends</li>
                <li>pensions</li>
                <li>trusts, settlement or estates</li>
                <li>foreign income</li>
                <li>notional income</li>
            </ul>

            <details>
                <summary><span class="summary">What are these sources of income?</span></summary>
                <div class="panel panel-border-narrow">
                    <h3 class="heading-small">Savings income</h3>
                    <p>An account that you get interest from, such as:</p>
                    <ul class="list list-bullet text">
                        <li>bank and building society accounts</li>
                        <li>accounts with providers like credit unions or National Savings and Investments</li>
                    </ul>
                    <p>It does not include tax-free interest from ISAs.</p>

                    <h3 class="heading-small">Investment income</h3>
                    <p>This is usually a 'chargeable event gains' from a life insurance policy.</p>

                    <h3 class="heading-small">Dividend income</h3>
                    <p>Where you get shares or cash from a UK company that you have invested in.</p>

                    <h3 class="heading-small">Pension income</h3>
                    <p>Income from sources where you have reached a certain age, including:
                    <ul class="list list-bullet text">
                        <li>Annuity payments from a pension scheme</li>
                        <li>Industrial Death Benefit</li>
                        <li>Widowed Mother's Allowance</li>
                        <li>Widowed Parent's Allowance</li>
                    </ul>
                    <p>It does not include the Christmas bonus, winter fuel payment, or war pensions.</p>

                    <h3 class="heading-small">Trusts, settlements or estates</h3>
                    <p>You will receive an R185 form with all the necessary information from the trustees or administrators.</p>

                    <h3 class="heading-small">Foreign income</h3>
                    <p>Any income you get from outside of England, Scotland, Wales and Northern Ireland (including the Channel Islands and the Isle of Man) such as:</p>
                    <ul class="list list-bullet text">
                        <li>wages from working abroad</li>
                        <li>foreign investments and savings interest</li>
                        <li>rental income on an overseas property</li>
                        <li>income from pensions held overseas</li>
                    </ul>

                    <h3 class="heading-small">Notional income</h3>
                    <p>Income that you are treated as having which you may not in fact have, such as:</p>
                    <ul class="list list-bullet text">
                        <li>employment income where you worked for free or for less than the going rate</li>
                        <li>income that you could get but did not apply for such as Jobseeker's Allowance</li>
                        <li>income you did not take, so you could get tax credits or more tax credits</li>
                        <li>investment income of a child where you have provided trust funds of more than &pound;100</li>
                    </ul>
                </div>
            </details>
            <br />
        </div>


        <div id="Did you get any taxable benefits">
            <ul class="list list-bullet text">
                <li>Bereavement Allowance</li>
                <li>Carer's Allowance</li>
                <li>Contribution-based Jobseeker's Allowance</li>
                <li>Contribution-based Employment and Support Allowance</li>
                <li>Incapacity Benefit</li>
            </ul>

            <details>
                <summary><span class="summary">What are these benefits?</span></summary>
                <div class="panel panel-border-narrow">
                    <h3 class="heading-small">Bereavement Allowance</h3>
                    <p>A benefit you can claim if you are widowed between 45 and State Pension age (previously known as Widow's Pension).</p>

                    <h3 class="heading-small">Carer's Allowance</h3>
                    <p>A benefit you can claim if you care for someone at least 35 hours a week and they are claiming a benefit.</p>

                    <h3 class="heading-small">Contribution-based Jobseeker's Allowance</h3>
                    <p>An unemployment benefit you can claim if you have paid enough National Insurance contributions through an employer in the last 2 tax years and are looking for work.</p>

                    <h3 class="heading-small">Contribution-based Employment and Support Allowance</h3>
                    <p>A benefit you can claim if your ability to work is limited by ill health or disability and you have paid enough National Insurance contributions through an employer in the last 2 tax years.</p>

                    <h3 class="heading-small">Incapacity Benefit</h3>
                    <p>A benefit you can claim if your ability to work is limited by ill health or disability. It is being replaced with Employment and Support Allowance (ESA).</p>
                </div>
            </details>

        </div>

        <div id="Did partner get any company benefits?">
            <p>Company benefits are things you get from your employer, like a company car and fuel, gifts of food or clothing, taxable vouchers or bills paid for you.</p>
            <p>If your partner receives a P11D or P9D from their employer, this will show any company benefits they receive and the amount. The P11D or P9D will refer these as 'benefits in kind'.</p>
        </div>


        <div id="renting-does-not-include-rent-a-room-scheme">
            <p class="lede">This does not include renting out property, or a room in their home as part of the Rent a Room Scheme.</p>
        </div>

        <div id="Did you get any income from property rental">
            <p class="lede">This does not include renting out a room in your home as part of the Rent a Room Scheme.</p>
        </div>

        <div id="Did partner get any taxable benefits?">
            <ul class="list list-bullet text">
                <li>Bereavement Allowance</li>
                <li>Carer's Allowance</li>
                <li>Contribution-based Jobseeker's Allowance</li>
                <li>Contribution-based Employment and Support Allowance</li>
                <li>Incapacity Benefit</li>
            </ul>

            <details>
                <summary><span class="summary">What are these benefits?</span></summary>
                <div class="panel panel-border-narrow">

                    <h3 class="heading-small">Bereavement Allowance</h3>
                    <p>A benefit you can claim if you are widowed between 45 and State Pension age (previously known as Widow's Pension).</p>

                    <h3 class="heading-small">Carer's Allowance</h3>
                    <p>A benefit you can claim if you care for someone at least 35 hours a week and they are claiming a benefit.</p>

                    <h3 class="heading-small">Contribution-based Jobseeker's Allowance</h3>
                    <p>An unemployment benefit you can claim if you have paid enough National Insurance contributions through an employer in the last 2 tax years and are looking for work.</p>

                    <h3 class="heading-small">Contribution-based Employment and Support Allowance</h3>
                    <p>A benefit you can claim if your ability to work is limited by ill health or disability and you have paid enough National Insurance contributions through an employer in the last 2 tax years.</p>

                    <h3 class="heading-small">Incapacity Benefit</h3>
                    <p>A benefit you can claim if your ability to work is limited by ill health or disability. It is being replaced with Employment and Support Allowance (ESA).</p>
                </div>
            </details>
            <br />
        </div>

        <div id="Select partner taxable benefits and enter amount">
            <p class="text">Select all the benefits and enter the amount for each.</p>
        </div>

        <div id="report-any-changes">
            <p class="lede">Check the details in your renewal paper pack for your [CLAIM_TYPE] claim between <nobr></nobr> [START_DATE] and [END_DATE]<nobr></nobr>.</p>
            <p class="lede">Do you need to report a change to the details shown?</p>
        </div>

    </div>

    <div style="display: none;">
        <input type="text" id="pageloaded" value="NO">
    </div>


@if(debug == true) {
    <div id="debugShow">
} else {
    <div id="debugHidden" style="display: none;">
}
        <div id="demo">
            <div>
                <label>Renewal Type</label>
                <select id="RenewalType">
                    <option value="R">Auto Renewal</option>
                    <option value="D">D1</option>
                    <option value="D2">D2</option>
                </select>
                <label>Has Partner</label>
                <select id="HasPartner">
                    <option value="false">false</option>
                    <option value="true">true</option>
                </select>
            </div>
            <br>
            <input type="button" value="Start Application" onClick="javascript:startDemo()">
            <input type="button" value="Start Application with award dates" onClick="javascript:startDemo('31/08/2016','31/12/2016')">
        </div>

        <br>
        <br>


        <h3>Question Trace</h3>
        <br>
        <div>
            <b>Current Question:</b>
            <br>
            <div>
                <b><label>Question Id:</label></b>
                <span id="QuestionId"></span>
            </div>
            <div>
                <label>Question Type:</label>
                <span id="QuestionType"></span>
            </div>
            <div>
                <label>Question Group:</label>
                <span id="QuestionGroup"></span>
            </div>
        </div>
        <br>

        <div>
            <label>Resume</label>
            <input type="text" id="resumeData">
            <input type="button" value="Initialise model" onClick="javascript:resumeApp()">
            <input type="button" value="Extract Model" onClick="javascript:getModelData()">
            <div>

            <div>
                <input type="button" value="Submission API" onClick="javascript:extractAPI()">
                <input type="button" value="Test Back API" onClick="javascript:testCanGoBack()">
                <input type="button" value="Back to previous question" onClick="javascript:BACK()">
                <input type="button" value="Test global error handler" onClick="javascript:TEST_ERROR()">
            </div>

        <br><br>
        <div id="dumpDiv">
            <b><span>Debug</span></b>
            <br><br>
            <span id="dumpText"></span>
        </div>
    </div>
</main>
</body>


</html>

<!--
Test to verify outside of debug flag at build time.
<script>
    startup("D2", true, "Date1", "Date2");
</script>
-->